

    {% extends 'app1/base.html' %}
    {% block body %}
        {% load static %}
        <style>
            .flexy{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        .form1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            
        }
        form{
            padding:30px;
        }
        .close {
            position: absolute;
            top: 3px;
            right: 8px;
            font-size: 25px;
            color: rgb(255, 255, 255);
            transform: rotate(45deg);
            cursor: pointer;
            text-decoration: none;
            
        }
        .back{
            background-color:rgba(0,0,0,0.4);
            color: white;

        }
        btns:hover{
            background-color:rgba(225,225,225,0.4);
            color:black;
        }
        button{
            background-color:rgb(103, 175, 220) ;
            color:white;
            padding:10px 20px;
        }
        .tr1:hover{
            background:  rgb(202, 202, 13);
        }
        a:hover{
            color: black;
        }
    </style>
   
     <div class="row container-fluid p-0 mx-0" >
        <div class="col-sm-1 m-0  p-0"></div>
        <div class="col-sm-10 m-0 p-0" style=" width: 100%; background-color:rgba(0,0,0,0.2);" >

        <div>
            <h6  class="bg-info text-light m-0 p-2"></h6>
            <div class="row container-fluid p-3 m-0 back">
        
            <div class="col-sm-2   m-0 p-0 d-flex" >
             
                <h4></h4>
              
            </div>
            <div class="col-sm-8   m-0 p-0"></div>
            <div class="col-sm-2   m-0 p-0" style="text-align: center;">
                <p>Current Liabilities</p>
                <p><b></b></p>
                <h6>For 1-Apr-22</h6>
                
                
            </div>

            </div>

            <div style="overflow: scroll ;max-height: 70vh; width: 100%;background-color:rgba(0,0,0,0.4); ">
                <table class="table ">
                    <tr>
                       
                        <th scope="col">Account Names</th>
                       
                        <th scope="col" style="text-align: center;" > Credit</th>
                        <th scope="col" style="text-align: center;">Debit</th>
                       
                      
                      </tr>
                      

                     {% for acp in acp %}
                     
                      <tr  class="tr1" >
                        
                        <td scope="row"><a  href="{% url 'acres' acp.accounts1id   %}">{{ acp.name }}</a></td>
                        <td style="text-align: center;">{{ acp.balance }} 
                       </td>
                       <td style="text-align: center;">{{ acp.dbbalance }}</td>
                       
                    

                        

                       
                   
                      </tr>
                      {% endfor %} 
                      <tr>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <th>Grand Total</th>
                        <th style="text-align: center;" class="col-sm-2 m-0 p-0">{{ sum1 }}  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp {{ sum2 }}</th>
                        
                      </tr>
                      
                     
                   
                     

                </table>


            </div>
       
        </div> 
        </div>
     </div>
     
    
    {% endblock %}