{% extends 'app1/base.html' %}
{% block body %}
    {% load static %}

    <style type="text/css">
        #grad1 {
            background-color: #9C27B0;
        }

        #msform {
            text-align: center;
            position: relative;
            margin-top: 20px
        }

        #msform fieldset .form-card {
            background: white;
            border: 0 none;
            border-radius: 0px;
            box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
            padding: 20px 40px 30px 40px;
            box-sizing: border-box;
            width: 94%;
            margin: 0 3% 20px 3%;
            position: relative
        }

        #msform fieldset {
            background: #243e54;
            border: 0 none;
            border-radius: 0.5rem;
            box-sizing: border-box;
            width: 100%;
            margin: 0;
            padding-bottom: 20px;
            position: relative
        }

        #msform fieldset:not(:first-of-type) {
            display: none
        }

        #msform fieldset .form-card {
            background-color: #243e54;
            text-align: left;
            color: #9E9E9E;
            box-shadow: none !important;
        }

        #msform input,
        #msform textarea {
            padding: 0px 8px 4px 8px;
            border: none;
            background-color: #2f516f;
            border-bottom: 1px solid #ccc;
            border-radius: 0px;
            margin-bottom: 25px;
            margin-top: 2px;
            width: 100%;
            box-sizing: border-box;
            font-family: montserrat;
            color: black;
            font-size: 16px;
            letter-spacing: 1px
        }

        #msform input:focus,
        #msform textarea:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: none;
            font-weight: bold;
            border-bottom: 2px solid skyblue;
            outline-width: 0
        }

        #msform .action-button {
            width: 100px;
            background: skyblue;
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 0px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px
        }

        #msform .action-button:hover,
        #msform .action-button:focus {
            box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue
        }

        #msform .action-button-previous {
            width: 100px;
            background: #616161;
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 0px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px
        }

        #msform .action-button-previous:hover,
        #msform .action-button-previous:focus {
            box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
        }

        select.list-dt {
            border: none;
            outline: 0;
            border-bottom: 1px solid #ccc;
            padding: 2px 5px 3px 5px;
            margin: 2px
        }

        select.list-dt:focus {
            border-bottom: 2px solid skyblue
        }

        .card {
            z-index: 0;
            border: none;
            border-radius: 0.5rem;
            position: relative
        }

        .fs-title {
            font-size: 25px;
            color: #2C3E50;
            margin-bottom: 10px;
            font-weight: bold;
            text-align: left
        }

        #progressbar {
            margin-bottom: 30px;
            overflow: hidden;
            color: lightgrey
        }

        #progressbar .active {
            color: #2107ff;
        }

        #progressbar li {
            list-style-type: none;
            font-size: 12px;
            width: 25%;
            float: left;
            position: relative
        }

        #progressbar #account:before {
            font-family: FontAwesome;
            content: "\f023"
        }

        #progressbar #personal:before {
            font-family: FontAwesome;
            content: "\f007"
        }

        #progressbar #payment:before {
            font-family: FontAwesome;
            content: "\f09d"
        }

        #progressbar #confirm:before {
            font-family: FontAwesome;
            content: "\f00c"
        }

        #progressbar li:before {
            width: 50px;
            height: 50px;
            line-height: 45px;
            display: block;
            font-size: 18px;
            color: #ffffff;
            background: lightgray;
            border-radius: 50%;
            margin: 0 auto 10px auto;
            padding: 2px
        }

        #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: lightgray;
            position: absolute;
            left: 0;
            top: 25px;
            z-index: -1
        }

        #progressbar li.active:before,
        #progressbar li.active:after {
            background: #0b29ff;
        }

        .radio-group {
            position: relative;
            margin-bottom: 25px
        }

        .radio {
            display: inline-block;
            width: 204px;
            height: 104px;
            border-radius: 0;
            background: lightblue;
            box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
            box-sizing: border-box;
            cursor: pointer;
            margin: 8px 2px
        }

        .radio:hover {
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
        }

        .radio.selected {
            box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
        }

        .fit-image {
            width: 100%;
            object-fit: cover
        }

    </style>
    <style>
        .form-input {
            width: 300px;
            padding: 20px;
            background: #6c7394;;
        }

        .form-input input {
            display: none;
        }

        .form-input label {
            display: block;
            width: 100%;
            height: 50px;
            line-height: 50px;
            text-align: center;
            background: #333;
            color: #fff;
            font-size: 15px;
            font-family: "Open Sans", sans-serif;
            text-transform: Uppercase;
            font-weight: 600;
            border-radius: 10px;
            cursor: pointer;
        }

        .form-input img {
            width: 100%;
            display: none;
            margin-top: 10px;
        }
    </style>

    <div class="page-content">
        <div class="card radius-15">
            <div class="card-body">
                <div class="card-title">
                    <center><h3 class="mb-0">PRODUCT / SERVICE INFORMATION</h3></center>
                </div>
                <hr/>
            </div>
        </div>
        <div class="card radius-15 p-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-lg-12 col-xl-12">
                        <div class="card" style="background-color: #2a4964;">
                            <div class="row no-gutters">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <div class="card-body" style="margin-top: 20px;">
                                        <center><h3>INVENTORY</h3></center>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form action="invupdate/{{ inventory.inventoryid }}" method="post" class="needs-validation" novalidate>
                    {% csrf_token %}

                    <div class="form-card">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12 mt-3">
                                <label for="validationCustom01" style="color: white;">Name</label>
                                <textarea name="name" rows="1" class="form-control"
                                          style="background-color: #2a4964; color: white;" id="validationCustom01"
                                          required>{{ inventory.name }}</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-lg-6 mt-3">
                                <label for="validationCustom01" style="color: white;">SKU</label>
                                <input type="text" value="{{ inventory.sku }}" name="sku"
                                       style="background-color: #2a4964; color: white;"
                                       class="form-control" id="validationCustom01" required>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-6 mt-3">
                                <label for="validationCustom05" style="color: white;">HSN
                                    Code</label>
                                <input type="text" value="{{ inventory.hsn }}" name="hsn"
                                       style="background-color: #2a4964; color: white;"
                                       class="form-control" id="validationCustom05" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-lg-6 mt-3">
                                <label for="validationCustom01" style="color: white;">Unit</label>
                                <select class="custom-select" name="unit" id="validationCustom04"
                                        required style="background-color: #2a4964; color: white;">
                                    <option>{{ inventory.unit }}</option>
                                    <option>BAG Bags</option>
                                    <option>BAL Bale BOU</option>
                                    <option>BDL Bundles</option>
                                    <option>BKL Buckles</option>
                                    <option>BOX Box</option>
                                    <option>BTL Bottles</option>
                                    <option>CAN Cans</option>
                                    <option>CTN Cartons</option>
                                    <option>CCM Cubic centimeters</option>
                                    <option>CBM Cubic meters</option>
                                    <option>CMS Centimeters</option>
                                    <option>DRM Drums</option>
                                    <option>DOZ Dozens</option>
                                    <option>GGK Great gross GYD</option>
                                    <option>GRS GrossGMS</option>
                                    <option>KME Kilometre</option>
                                    <option>KGS Kilograms</option>
                                    <option>KLR Kilo litre</option>
                                    <option>MTS Metric ton</option>
                                    <option>MLT Mili litre</option>
                                    <option>MTR Meters</option>
                                    <option>NOS Numbers</option>
                                    <option>PAC Packs</option>
                                    <option>PCS Pieces</option>
                                    <option>PRS Pairs</option>
                                    <option>QTL Quintal</option>
                                    <option>ROL Rolls</option>
                                    <option>SQY Square Yards</option>
                                    <option>SET Sets</option>
                                    <option>SQF Square feet</option>
                                    <option>SQM Square meters</option>
                                    <option>TBS Tablets</option>
                                    <option>TUB Tubes</option>
                                    <option>TGM Ten Gross</option>
                                    <option>THD Thousands</option>
                                    <option>TON Tonnes</option>
                                    <option>UNT Units</option>
                                    <option>UGS US Gallons</option>
                                    <option>YDS Yards</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-6 mt-3">
                                <label for="validationCustom05"
                                       style="color: white;">Category</label>
                                <input type="text" value="{{ inventory.category }}" name="category"
                                       class="form-control" id="validationCustom05" required
                                       style="background-color: #2a4964; color: white;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-lg-4 mt-3">
                                <label for="validationCustom05" style="color: white;">Initial
                                    quantity on hand</label>
                                <input type="text" value="{{ inventory.initialqty }}"
                                       name="initialqty" class="form-control"
                                       id="validationCustom05" required
                                       style="background-color: #2a4964; color: white;">
                            </div>
                            <div class="col-md-4 col-sm-4 col-lg-4 mt-3">
                                <label for="validationCustom05" style="color: white;">As of
                                    date</label>
                                <input type="date" value="{{ inventory.date }}" name="date"
                                       class="form-control" id="validationCustom05" required
                                       style="background-color: #2a4964; color: white;">
                            </div>
                            <div class="col-md-4 col-sm-4 col-lg-4 mt-3">
                                <label for="validationCustom05" style="color: white;">Low stock
                                    alert</label>
                                <input type="text" value="{{ inventory.stockalrt }}"
                                       name="stockalrt" class="form-control" id="validationCustom05"
                                       required style="background-color: #2a4964; color: white;">
                            </div>
                        </div>
                    </div>
                    <div class="form-card">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-lg-6 mt-3">
                                <label for="validationCustom05" style="color: white;">Inventory
                                    asset account</label>
                                <select class="custom-select" name="invacnt" id="validationCustom04"
                                        required style="background-color: #2a4964; color: white;">
                                    <option>{{ inventory.invacnt }}</option>
                                    <option>Inventory Asset</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12 mt-3">
                                <label for="validationCustom01"
                                       style="color: white;">Description</label>
                                <textarea class="form-control" name="description"
                                          id="validationCustom01" style="background-color: #2a4964; color: white;"
                                          required>{{ inventory.description }}</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-lg-6 mt-3">
                                <label for="validationCustom03" style="color: white;">Sales
                                    price/rate</label>
                                <input type="text" value="{{ inventory.salesprice }}"
                                       name="salesprice" class="form-control"
                                       id="saleprice" required style="background-color: #2a4964; color: white;">
                                <div class="form-check mt-1">
                                    <input class="form-check-input" type="checkbox" value="inclusive"
                                           id="inclusive">
                                    <label>Inclusive of tax</label>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-6 mt-3">
                                <label for="validationCustom03" style="color: white;">Tax</label>
                                <select class="custom-select" name="tax" id="tax1"
                                        required style="background-color: #2a4964; color: white;">
                                    <option selected disabled value={{ inventory.tax }}>{{ inventory.tax }} %
                                    </option>
                                    <option value=28>28.0% GST (28%)</option>
                                    <option value=28>28.0% IGST (28%)</option>
                                    <option value=18>18.0% GST (18%)</option>
                                    <option value=18>18.0% IGST (18%)</option>
                                    <option value=15>15.0% ST (100%)</option>
                                    <option value=14.5>14.5% ST (100%)</option>
                                    <option value=14>14.00% ST (100%)</option>
                                    <option value=14>14.0% VAT (100%)</option>
                                    <option value=12.36>12.36% ST (100%)</option>
                                    <option value=12>12.0% GST (12%)</option>
                                    <option value=12>12.0% IGST (12%)</option>
                                    <option value=6>6.0% GST (6%)</option>
                                    <option value=6>6.0% IGST (6%)</option>
                                    <option value=5>5.0% GST (5%)</option>
                                    <option value=5>5.0% IGST (5%)</option>
                                    <option value=5>5.0% VAT (100%)</option>
                                    <option value=4>4.0% VAT (100%)</option>
                                    <option value=3>3.0% GST (3%)</option>
                                    <option value=3>3.0% IGST (3%)</option>
                                    <option value=2>2.0% CST (100%)</option>
                                    <option value=0.25>0.25% GST (0.25%)</option>
                                    <option value=0.25>0.25% IGST (0.25%)</option>
                                    <option value=0>0% GST (0%)</option>
                                    <option value=0>0% IGST (0%)</option>
                                    <option value=0>Exempt GST (0%)</option>
                                    <option value=0>Exempt IGST (0%)</option>
                                    <option value=0>Out of Scope(0%)</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-lg-6 mt-3">
                                <label for="validationCustom03" style="color: white;">Income
                                    account</label>
                                <select class="custom-select" name="incomeacnt"
                                        id="validationCustom04" required
                                        style="background-color: #2a4964; color: white;">
                                    <option>{{ inventory.incomeacnt }}</option>
                                    <option>Billable Expense Income</option>
                                    <option>Product Sales</option>
                                    <option>Sales</option>
                                    <option>Sales-Hardware</option>
                                    <option>Sales-Software</option>
                                    <option>Sales-Support and Maintanance</option>
                                    <option>Sales of Product Income</option>
                                    <option>Uncategorised Income</option>
                                </select>
                            </div>
                        </div>
                        <hr style="margin-top: 25px;">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12 mt-3">
                                <div class="form-row">
                                    <label for="validationCustom01" style="color: white;">Purchasing
                                        information</label>
                                    <textarea class="form-control" name="purchaseinfo"
                                              id="validationCustom01" style="background-color: #2a4964; color: white;"
                                              required>{{ inventory.purchaseinfo }}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-lg-6 mt-3">
                                <label for="validationCustom03" style="color: white;">Cost</label>
                                <input type="text" value="{{ inventory.cost }}" name="cost"
                                       class="form-control" id="cost" required
                                       style="background-color: #2a4964; color: white;">
                                <div class="form-check mt-1">
                                    <input class="form-check-input" type="checkbox" value="inclusive" id="check1">
                                    <label>Inclusive of purchase tax</label>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-6 mt-3">
                                <label for="validationCustom03" style="color: white;">Purchase
                                    tax</label>
                                <select class="custom-select" name="purtax" id="purtax"
                                        required style="background-color: #2a4964; color: white;">
                                    <option selected
                                            value="{{ inventory.purtax }}">{{ inventory.purtax }} %
                                    </option>
                                    <option value=28>28.0% GST (28%)</option>
                                    <option value=28>28.0% IGST (28%)</option>
                                    <option value=18>18.0% GST (18%)</option>
                                    <option value=18>18.0% IGST (18%)</option>
                                    <option value=15>15.0% ST (100%)</option>
                                    <option value=14.5>14.5% ST (100%)</option>
                                    <option value=14>14.00% ST (100%)</option>
                                    <option value=14>14.0% VAT (100%)</option>
                                    <option value=12.36>12.36% ST (100%)</option>
                                    <option value=12>12.0% GST (12%)</option>
                                    <option value=12>12.0% IGST (12%)</option>
                                    <option value=6>6.0% GST (6%)</option>
                                    <option value=6>6.0% IGST (6%)</option>
                                    <option value=5>5.0% GST (5%)</option>
                                    <option value=5>5.0% IGST (5%)</option>
                                    <option value=5>5.0% VAT (100%)</option>
                                    <option value=4>4.0% VAT (100%)</option>
                                    <option value=3>3.0% GST (3%)</option>
                                    <option value=3>3.0% IGST (3%)</option>
                                    <option value=2>2.0% CST (100%)</option>
                                    <option value=0.25>0.25% GST (0.25%)</option>
                                    <option value=0.25>0.25% IGST (0.25%)</option>
                                    <option value=0>0% GST (0%)</option>
                                    <option value=0>0% IGST (0%)</option>
                                    <option value=0>Exempt GST (0%)</option>
                                    <option value=0>Exempt IGST (0%)</option>
                                    <option value=0>Out of Scope(0%)</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-lg-6 mt-3">
                                <label for="validationCustom03" style="color: white;">Expense
                                    account</label>
                                <select class="custom-select" name="expacnt" id="validationCustom04"
                                        required style="background-color: #2a4964; color: white;">
                                    <option>{{ inventory.expacnt }}</option>
                                    <option>Cost of Sales</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-lg-6 mt-3">
                                <label style="color: white; text-align: left;">Reverse Charge
                                    %</label>
                                <input type="text" value="{{ inventory.revcharge }}"
                                       name="revcharge" class="form-control"
                                       id="validationCustom03" style="background-color: #2a4964; color: white;">
                            </div>
                            <div class="col-md-6 col-sm-6 col-lg-6 mt-3">
                                <label for="validationCustom03" style="color: white;">Preferred
                                    Supplier</label>
                                <input type="text" value="{{ inventory.presupplier }}"
                                       name="presupplier" class="form-control"
                                       id="validationCustom03" required
                                       style="background-color: #2a4964; color: white;">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4  mt-5 mb-5">
                            <button class="btn btn-outline-info rounded-pill w-100 text-light"
                                    type="submit">SUBMIT
                            </button>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/plugins/select2/js/select2.min.js' %}"></script>
    <script>
        $('.single-select').select2({
            theme: 'bootstrap4',
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            allowClear: Boolean($(this).data('allow-clear')),
        });
        $('.multiple-select').select2({
            theme: 'bootstrap4',
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            allowClear: Boolean($(this).data('allow-clear')),
        });

        document.getElementById("foo").onchange = function () {
            if (this.selectedIndex !== 0) {
                window.location.href = this.value;
            }
        };
    </script>
    <script>
        function insertValue() {
            var select = document.getElementById("select"),
                txtVal = document.getElementById("val").value,
                newOption = document.createElement("OPTION"),
                newOptionval = document.createTextNode(txtVal);

            newOption.appendChild(newOptionval);
            select.insertBefore(newOption, select.lastChild);
        }
    </script>
    <script>
        $('.datepicker').pickadate({
            selectMonths: true,
            selectYears: true
        }),
            $('.timepicker').pickatime()
    </script>
    <script>
        $(function () {
            $('#date-time').bootstrapMaterialDatePicker({
                format: 'YYYY-MM-DD HH:mm'
            });
            $('#date').bootstrapMaterialDatePicker({
                time: false
            });
            $('#time').bootstrapMaterialDatePicker({
                date: false,
                format: 'HH:mm'
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            var current_fs, next_fs, previous_fs; //fieldsets
            var opacity;

            $(".next").click(function () {

                current_fs = $(this).parent();
                next_fs = $(this).parent().next();

//Add Class Active
                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

//show the next fieldset
                next_fs.show();
//hide the current fieldset with style
                current_fs.animate({opacity: 0}, {
                    step: function (now) {
// for making fielset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        next_fs.css({'opacity': opacity});
                    },
                    duration: 600
                });
            });

            $(".previous").click(function () {

                current_fs = $(this).parent();
                previous_fs = $(this).parent().prev();

//Remove class active
                $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

//show the previous fieldset
                previous_fs.show();

//hide the current fieldset with style
                current_fs.animate({opacity: 0}, {
                    step: function (now) {
// for making fielset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        previous_fs.css({'opacity': opacity});
                    },
                    duration: 600
                });
            });

            $('.radio-group .radio').click(function () {
                $(this).parent().find('.radio').removeClass('selected');
                $(this).addClass('selected');
            });

            $(".submit").click(function () {
                return false;
            })

        });
        $('#tax').on('change', function () {
            alert(" INFORMATION \n\n Change saleprice before changing tax.\n Never mind if already done.")
            tax = parseFloat($('#tax').val());
            saleprice = parseFloat($('#saleprice').val());
            if ($("#inclusive").prop('checked') == true) {
                taxm = 1 + (tax / 100)
                salep = saleprice / taxm
                document.getElementById('saleprice').value = salep.toFixed(2)
            }
        });
        $('#purtax').on('change', function () {
            alert(" INFORMATION \n\n Change saleprice before changing tax.\n Never mind if already done.")
            tax = parseFloat($('#purtax').val());
            saleprice = parseFloat($('#cost').val());
            if ($("#check1").prop('checked') == true) {
                taxm = 1 + (tax / 100)
                salep = saleprice / taxm
                document.getElementById('cost').value = salep.toFixed(2)
            }
        });
    </script>

    <script>
        function showPreview(event) {
            if (event.target.files.length > 0) {
                var src = URL.createObjectURL(event.target.files[0]);
                var preview = document.getElementById("file-ip-1-preview");
                preview.src = src;
                preview.style.display = "block";
            }
        }
    </script>


{% endblock %}