{% extends 'app1/base.html' %}
{% block body %}
    {% load static %}
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script>
        $(document).ready(function () {
            var i = 1;
            $("#add_row").click(function () {
                b = i - 1;
                $('#addr' + i).html($('#addr' + b).html()).find('td:first-child').html(i + 1);
                $('#tab_logic').append('<tr id="addr' + (i + 1) + '"></tr>');
                i++;
            });
            $("#delete_row").click(function () {
                if (i > 1) {
                    $("#addr" + (i - 1)).html('');
                    i--;
                }
                calc();
            });

            $('#tab_logic tbody').on('keyup change', function () {
                calc();
            });
            $('#tax').on('keyup change', function () {
                calc_total();
            });


        });

        function calc() {
            $('#tab_logic tbody tr').each(function (i, element) {
                var html = $(this).html();
                if (html != '') {
                    var qty = $(this).find('.qty').val();
                    var price = $(this).find('.price').val();
                    var tax = $(this).find('.tax').val();
                    var taxamount = $(this).find('.taxamount').val();
                    $(this).find('.total').val(qty * price);
                    $(this).find('.taxamount').val((qty * price) * (tax / 100));

                    calc_total();
                }
            });
        }

        function calc_total() {
            total = 0;
            $('.total').each(function () {
                total += parseFloat($(this).val());
            });
            taxamount = 0;
            $('.taxamount').each(function () {
                taxamount += parseFloat($(this).val());
            });
            $('#sub_total').val(total.toFixed(2));
            $('#tax_amount').val(taxamount.toFixed(2));
            tax_sum = total / 100 * $('#tax').val();
            $('#total_amount').val((taxamount + total).toFixed(2));
        }
    </script>

    <style>
        input {
            background-color: #2f516f;
            border: 0;
            border-radius: 5px;
            color: white;
        }
    </style>
    <form action="estcreate" method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="page-content">
            <h2 id="hel"></h2>
            <div class="card radius-15">
                <div class="card-body">
                    <div class="card-title">
                        <center><h2 class="mb-0" id="estno">ESTIMATE</h2></center>
                    </div>
                    <hr/>
                </div>
            </div>
            <div class="card radius-15">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <center><h2>Fin sYs</h2></center>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <label class="col-form-label">Customer</label>
                            <div class="d-flex">
                                <select name="customer" id="select" class="form-control" style="width: 95%;">
                                    <option value="NIL" selected>Select Customer
                                    </option>
                                    {% for cust in customers %}
                                        {% if cust.cid_id == cmp1.cid %}
                                            <option text="{{ cust.customerid }}"
                                                    value="{{ cust.firstname }} {{ cust.lastname }}">{{ cust.firstname }} {{ cust.lastname }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <a href="{% url 'goaddcustestimate' %}">
                                    <button type="button" class="btn btn-outline-secondary ml-1">+</button>
                                </a>
                            </div>

                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label">Email</label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <label class="col-form-label">Billing Address</label>
                            <label for="billingaddress"></label>
                            <textarea class="form-control" rows="7" id="billin" name="billingaddress"></textarea>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label">Estimate Date</label>
                            <input type="text" class="form-control" value="{{ tod }}" name="estimatedate"><br>
                        </div>
                        <div class="col-md-3">
                            <label class="col-form-label">Expiration Date</label>
                            <input type="date" class="form-control" name="expirationdate"><br>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <label class="col-form-label">Place of Supply</label>
                            <input type="text" id="plosu" class="form-control"
                                   name="placeofsupply">
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row clearfix mt-4">
                        <div class="col-md-12 table-responsive-md">
                            <table class="table table-bordered table-hover" id="tab_logic">
                                <thead>
                                <tr>
                                    <th class="text-center"> #</th>
                                    <th class="text-center"> Product / Service</th>
                                    <th class="text-center">HSN</th>
                                    <th>Description</th>
                                    <th>QTY</th>
                                    <th>Rate</th>
                                    <th>Total</th>
                                    <th>Tax (%)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr id='addr0'>
                                    <td>1</td>
                                    <td>
                                        <select name='product' id="product" class="form-control">
                                            <option value="NIL" selected>Select Product</option>
                                            {% for proinv in inv %}
                                                {% if proinv.cid_id == cmp1.cid %}
                                                    <option text="{{ proinv.inventoryid }}"
                                                            value="{{ proinv.name }}">{{ proinv.name }} </option>
                                                {% endif %}
                                            {% endfor %}
                                            {% for proinv in noninv %}
                                                {% if proinv.cid_id == cmp1.cid %}
                                                    <option text="{{ proinv.noninventoryid }}"
                                                            value="{{ proinv.name }}">{{ proinv.name }} </option>
                                                {% endif %}
                                            {% endfor %}
                                            {% for proinv in bun %}
                                                {% if proinv.cid_id == cmp1.cid %}
                                                    <option text="{{ proinv.bundleid }}"
                                                            value="{{ proinv.name }}">{{ proinv.name }} </option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td><input type="text" name='hsn' id="hsn1"
                                               placeholder='Enter HSN' class="form-control">
                                    </td>
                                    <td><input type="text" name='description' id="description"
                                               placeholder='Enter description'
                                               class="form-control">

                                    </td>
                                    <td>
                                        <input type="number" name='qty' id="qty1"
                                               placeholder='Enter QTY'
                                               class="form-control qty" step="0" min="0"/>
                                               <span id="qtyspan" class="text-muted"></span>
                                    </td>
                                    <td><input type="number" name='rate' id="unit1"
                                               placeholder='Enter Rate'
                                               class="form-control price" step="0.00"
                                               min="0"/>
                                    </td>
                                    <td><input type="number" name='total' id="total" placeholder='0.00'
                                               class="form-control total" readonly/></td>
                                    <td>
                                        <select name="tax" id="tax" class="form-control tax"
                                                style="background-color: #2f516f; color: white;">
                                            <option value="" selected>Choose</option>
                                            <option value="28">28.0% GST(28%)</option>
                                            <option value="18">18.0% GST(18%)</option>
                                            <option value="12">12.0% GST(12%)</option>
                                            <option value="6">06.0% GST(06%)</option>
                                            <option value="5">05.0% GST(05%)</option>
                                            <option value="3">03.0% GST(03%)</option>
                                            <option value=".25">0.25% GST(0.25%)</option>
                                            <option value="0">0.0% GST(0%)</option>
                                            <option value="0">Exempt GST(0%)</option>
                                            <option value="0">Out of Scope(0%)</option>
                                        </select>
                                    </td>
                                    <td style="display: none;"><input type="number" name='taxamount' id="taxamount"
                                                                      class="form-control taxamount"/></td>
                                <tr id='addr0'>
                                    <td>2</td>
                                    <td>
                                        <select name='product1' id="product2" class="form-control">
                                            <option value="NIL" selected>Select Product</option>
                                            {% for proinv in inv %}
                                                {% if proinv.cid_id == cmp1.cid %}
                                                    <option text="{{ proinv.inventoryid }}"
                                                            value="{{ proinv.name }}">{{ proinv.name }} </option>
                                                {% endif %}
                                            {% endfor %}
                                            {% for proinv in noninv %}
                                                {% if proinv.cid_id == cmp1.cid %}
                                                    <option text="{{ proinv.noninventoryid }}"
                                                            value="{{ proinv.name }}">{{ proinv.name }} </option>
                                                {% endif %}
                                            {% endfor %}
                                            {% for proinv in bun %}
                                                {% if proinv.cid_id == cmp1.cid %}
                                                    <option text="{{ proinv.bundleid }}"
                                                            value="{{ proinv.name }}">{{ proinv.name }} </option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        {#                                        <button type="button" class="btn btn-outline-secondary ml-1">+</button>#}
                                    </td>
                                    <td><input type="text" name='hsn1' id="hsn2"
                                               placeholder='Enter HSN' class="form-control">
                                    </td>
                                    <td><input type="text" name='description1' id="description2"
                                               placeholder='Enter description'
                                               class="form-control"></td>
                                    <td><input type="number" name='qty1' id="qty2"
                                               placeholder='Enter QTY'
                                               class="form-control qty" step="0" min="0"/>
                                               <span id="qtyspan1" class="text-muted"></span>
                                    </td>
                                    <td><input type="number" name='rate1' id="unit2"
                                               placeholder='Enter Rate'
                                               class="form-control price" step="0.00"
                                               min="0"/>
                                    </td>

                                    <td><input type="number" name='total1' id="total2"
                                               placeholder='0.00' class="form-control total"
                                               readonly/></td>
                                    <td>
                                        <select name="tax1" id="tax1" class="form-control tax"
                                                style="background-color: #2f516f; color: white;">
                                            <option value="" selected>Choose</option>
                                            <option value="28">28.0% GST(28%)</option>
                                            <option value="18">18.0% GST(18%)</option>
                                            <option value="12">12.0% GST(12%)</option>
                                            <option value="6">06.0% GST(06%)</option>
                                            <option value="5">05.0% GST(05%)</option>
                                            <option value="3">03.0% GST(03%)</option>
                                            <option value=".25">0.25% GST(0.25%)</option>
                                            <option value="0">0.0% GST(0%)</option>
                                            <option value="0">Exempt GST(0%)</option>
                                            <option value="0">Out of Scope(0%)</option>
                                        </select>
                                    </td>
                                    <td style="display: none;"><input type="number" name='taxamount1' id="taxamount1"
                                                                      class="form-control taxamount"/></td>
                                <tr id='addr0'>
                                    <td>3</td>
                                    <td>
                                        <select name='product2' id="product3" class="form-control">
                                            <option value="NIL" selected>Select Product</option>
                                            {% for proinv in inv %}
                                                {% if proinv.cid_id == cmp1.cid %}
                                                    <option text="{{ proinv.inventoryid }}"
                                                            value="{{ proinv.name }}">{{ proinv.name }} </option>
                                                {% endif %}
                                            {% endfor %}
                                            {% for proinv in noninv %}
                                                {% if proinv.cid_id == cmp1.cid %}
                                                    <option text="{{ proinv.noninventoryid }}"
                                                            value="{{ proinv.name }}">{{ proinv.name }} </option>
                                                {% endif %}
                                            {% endfor %}
                                            {% for proinv in bun %}
                                                {% if proinv.cid_id == cmp1.cid %}
                                                    <option text="{{ proinv.bundleid }}"
                                                            value="{{ proinv.name }}">{{ proinv.name }} </option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        {#                                        <button type="button" class="btn btn-outline-secondary ml-1">+</button>#}
                                    </td>
                                    <td><input type="text" name='hsn2' id="hsn3"
                                               placeholder='Enter HSN' class="form-control">
                                    </td>
                                    <td><input type="text" name='description2' id="description3"
                                               placeholder='Enter description'
                                               class="form-control"></td>
                                    <td><input type="number" name='qty2' id="qty3"
                                               placeholder='Enter QTY &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
                                               class="form-control qty" step="0" min="0"/>
                                               <span id="qtyspan2" class="text-muted"></span>
                                    </td>
                                    <td><input type="number" name='rate2' id="unit3"
                                               placeholder='Enter Rate'
                                               class="form-control price" step="0.00"
                                               min="0"/>
                                    </td>

                                    <td><input type="number" name='total2' id="total3"
                                               placeholder='0.00' class="form-control total"
                                               readonly/></td>
                                    <td>
                                        <select name="tax2" id="tax2" class="form-control tax"
                                                style="background-color: #2f516f; color: white;">
                                            <option value="" selected>Choose</option>
                                            <option value="28">28.0% GST(28%)</option>
                                            <option value="18">18.0% GST(18%)</option>
                                            <option value="12">12.0% GST(12%)</option>
                                            <option value="6">06.0% GST(06%)</option>
                                            <option value="5">05.0% GST(05%)</option>
                                            <option value="3">03.0% GST(03%)</option>
                                            <option value=".25">0.25% GST(0.25%)</option>
                                            <option value="0">0.0% GST(0%)</option>
                                            <option value="0">Exempt GST(0%)</option>
                                            <option value="0">Out of Scope(0%)</option>
                                        </select>
                                    </td>
                                    <td style="display: none;"><input type="number" name='taxamount2' id="taxamount2"
                                                                      class="form-control taxamount"/></td>
                                <tr id='addr0'>
                                    <td>4</td>
                                    <td>
                                        <select name='product3' id="product4" class="form-control">
                                            <option value="NIL" selected>Select Product</option>
                                            {% for proinv in inv %}
                                                {% if proinv.cid_id == cmp1.cid %}
                                                    <option text="{{ proinv.inventoryid }}"
                                                            value="{{ proinv.name }}">{{ proinv.name }} </option>
                                                {% endif %}
                                            {% endfor %}
                                            {% for proinv in noninv %}
                                                {% if proinv.cid_id == cmp1.cid %}
                                                    <option text="{{ proinv.noninventoryid }}"
                                                            value="{{ proinv.name }}">{{ proinv.name }} </option>
                                                {% endif %}
                                            {% endfor %}
                                            {% for proinv in bun %}
                                                {% if proinv.cid_id == cmp1.cid %}
                                                    <option text="{{ proinv.bundleid }}"
                                                            value="{{ proinv.name }}">{{ proinv.name }} </option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        {#                                        <button type="button" class="btn btn-outline-secondary ml-1">+</button>#}
                                    </td>
                                    <td><input type="text" name='hsn3' id="hsn4"
                                               placeholder='Enter HSN' class="form-control">
                                    </td>
                                    <td><input type="text" name='description3' id="description4"
                                               placeholder='Enter description'
                                               class="form-control"></td>
                                    <td><input type="number" name='qty3' id="qty4"
                                               placeholder='Enter QTY'
                                               class="form-control qty" step="0" min="0"/>
                                               <span id='qtyspan3' class="text-muted"></span>
                                    </td>
                                    <td><input type="number" name='rate3' id="unit4"
                                               placeholder='Enter Rate'
                                               class="form-control price" step="0.00"
                                               min="0"/>
                                    </td>
                                    <td><input type="number" name='total3' id="total4"
                                               placeholder='0.00' class="form-control total"
                                               readonly/></td>
                                    <td>
                                        <select name="tax3" id="tax3" class="form-control tax"
                                                style="background-color: #2f516f; color: white;">
                                            <option value="" selected>Choose</option>
                                            <option value="28">28.0% GST(28%)</option>
                                            <option value="18">18.0% GST(18%)</option>
                                            <option value="12">12.0% GST(12%)</option>
                                            <option value="6">06.0% GST(06%)</option>
                                            <option value="5">05.0% GST(05%)</option>
                                            <option value="3">03.0% GST(03%)</option>
                                            <option value=".25">0.25% GST(0.25%)</option>
                                            <option value="0">0.0% GST(0%)</option>
                                            <option value="0">Exempt GST(0%)</option>
                                            <option value="0">Out of Scope(0%)</option>
                                        </select>
                                    </td>
                                    <td style="display: none;"><input type="number" name='taxamount3' id="taxamount3"
                                                                      class="form-control taxamount"/></td>
                                </tbody>
                                </tr>
                                <tr id='addr1'></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row clearfix" style="margin-top:20px">
                        <div class="col-md-6"></div>
                        <div class="col-md-6 table-responsive-md">
                            <table class="table table-bordered table-hover"
                                   id="tab_logic_total">
                                <tbody>
                                <tr>
                                    <th class="text-center">Sub Total</th>
                                    <td class="text-center"><input type="number"
                                                                   name='sub_total'
                                                                   placeholder='0.00'
                                                                   class="form-control"
                                                                   id="sub_total" readonly/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-center">Tax Amount</th>
                                    <td class="text-center"><input type="number"
                                                                   name='taxamount'
                                                                   id="tax_amount"
                                                                   placeholder='0.00'
                                                                   class="form-control"
                                                                   readonly/>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-center">Estimate Total</th>
                                    <td class="text-center"><input type="number"
                                                                   name='estimatetotal'
                                                                   id="total_amount"
                                                                   placeholder='0.00'
                                                                   class="form-control"
                                                                   readonly/></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10"></div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-outline-info w-100 text-light rounded-pill">Save
                            </button>
                        </div>
                    </div>

                    <div class="notices">
                        <div class="text-muted">NOTICE:</div>
                        <div class="notice text-muted">
                            Fin sYs Terms and Conditions Apply
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="text" id="hello">
    </form>
    <script>
    
        function showinnum(divId, element) {
            if (element.value) {
                document.getElementById(divId).innerHTML = "ESTIMATE NO. " + element.value;
            } else {
                document.getElementById(divId).innerHTML = "ESTIMATE NO. ";
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#select').on('change', function () {
                select = $('#select').val();
                $.ajax({
                    type: "GET",
                    url: "{% url 'getdata' %}",
                    data: {id: select}
                }).done(function (response) {
                    var json_data = JSON.parse(response);
                    for (key in json_data) {
                        document.getElementById('email').value = json_data[key]['email'];
                        document.getElementById('plosu').value = json_data[key]['state'];
                        document.getElementById('billin').value = json_data[key]['firstname'] + ' ' + json_data[key]['lastname'] + '\n' + json_data[key]['company'] + '\n' + json_data[key]['street'] + '\n' + json_data[key]['city'] + '\n' + json_data[key]['state'] + '\n' + json_data[key]['pincode'] + '\n' + json_data[key]['country'];
                    }
                }).fail(function () {
                    alert("failed");
                })
            })
        })
        $('#product').on('change', function () {
            select = $('#product').val();
            $.ajax({
                type: "GET",
                url: "{% url 'getitems' %}",
                data: {id: select}
            }).done(function (response) {
                var json_data = JSON.parse(response);
                for (key in json_data) {
                    document.getElementById('hsn1').value = json_data[key]['hsn'];
                    document.getElementById('description').value = json_data[key]['description'];
                    document.getElementById('qty1').value = 0;
                    document.getElementById('unit1').value = json_data[key]['salesprice'];
                    if(json_data[key]['initialqty'] == ''){
                        document.getElementById('qtyspan').innerHTML = '';
                    }else{
                        document.getElementById('qtyspan').innerHTML = 'Available Quantity : ' + json_data[key]['initialqty'];
                    }
                }
            }).fail(function () {
                alert("failed");
            })
        });
        $('#product2').on('change', function () {
            select = $('#product2').val();
            $.ajax({
                type: "GET",
                url: "{% url 'getitems' %}",
                data: {id: select}
            }).done(function (response) {
                var json_data = JSON.parse(response);
                for (key in json_data) {
                    document.getElementById('hsn2').value = json_data[key]['hsn'];
                    document.getElementById('description2').value = json_data[key]['description'];
                    document.getElementById('qty2').value = 0;
                    document.getElementById('unit2').value = json_data[key]['salesprice'];
                    if(json_data[key]['initialqty'] == ''){
                        document.getElementById('qtyspan1').innerHTML = '';
                    }else{
                        document.getElementById('qtyspan1').innerHTML = 'Available Quantity : ' + json_data[key]['initialqty'];
                    }
                }
            }).fail(function () {
                alert("failed");
            })
        });
        $('#product3').on('change', function () {
            select = $('#product3').val();
            $.ajax({
                type: "GET",
                url: "{% url 'getitems' %}",
                data: {id: select}
            }).done(function (response) {
                var json_data = JSON.parse(response);
                for (key in json_data) {
                    document.getElementById('hsn3').value = json_data[key]['hsn'];
                    document.getElementById('description3').value = json_data[key]['description'];
                    document.getElementById('qty3').value = 0;
                    document.getElementById('unit3').value = json_data[key]['salesprice'];
                    if(json_data[key]['initialqty'] == ''){
                        document.getElementById('qtyspan2').innerHTML = '';
                    }else{
                        document.getElementById('qtyspan2').innerHTML = 'Available Quantity : ' + json_data[key]['initialqty'];
                    }
                }
            }).fail(function () {
                alert("failed");
            })
        });
        $('#product4').on('change', function () {
            select = $('#product4').val();
            $.ajax({
                type: "GET",
                url: "{% url 'getitems' %}",
                data: {id: select}
            }).done(function (response) {
                var json_data = JSON.parse(response);
                for (key in json_data) {
                    document.getElementById('hsn4').value = json_data[key]['hsn'];
                    document.getElementById('description4').value = json_data[key]['description'];
                    document.getElementById('qty4').value = 0;
                    document.getElementById('unit4').value = json_data[key]['salesprice'];
                    if(json_data[key]['initialqty'] == ''){
                        document.getElementById('qtyspan3').innerHTML = '';
                    }else{
                        document.getElementById('qtyspan3').innerHTML = 'Available Quantity : ' + json_data[key]['initialqty'];
                    }
                }
            }).fail(function () {
                alert("failed");
            })
        });
    </script>
{% endblock %}