{% extends 'app1/base.html' %}

{% block body %}

<div class="page-content">
    <div class="card radius-15 h-20">
        <div class="row">
            <div class="col-md-12">
                <center><h2 class="mt-3">e-Way Bills</h2></center>
                
                <hr style="width:95%">
            </div>
        </div>
    </div>
   
   
<div class="card radius-15">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col-md-5">
               
                      </div>
                  <div class="col">
                    
                    <div class="dropdown">
                        <button type="button" class="btn btn-outline-info dropdown-toggle text-grey"
                                data-toggle="dropdown">Transaction Type
                        </button>
                        <div class="dropdown-menu" style="background-color: black;">
                            <a class="dropdown-item" 
                               style="height: 40px; font-size: 15px; color: white;" >Invoices</a>
                            <a class="dropdown-item" 
                               style="height: 40px; font-size: 15px; color: white;">Credit Notes</a>
                            <a class="dropdown-item" 
                               style="height: 40px; font-size: 15px; color: white;">Delivery Challans</a>
                           
                        </div>
                    </div> 
                  </div>
                 
                  <!--<div class="col">
                    <div class="dropdown">
                        <button type="button" class="btn btn-outline-info dropdown-toggle text-grey"
                                data-toggle="dropdown">Sort by
                        </button>
                        <div class="dropdown-menu" style="background-color: black;">
                            <a class="dropdown-item" href="{% url 'iordername' %}"
                               style="height: 40px; font-size: 15px; color: white;">Name</a>
                            <a class="dropdown-item" href="{% url 'iod_rate' %}"
                               style="height: 40px; font-size: 15px; color: white;">Rate</a>
                            <a class="dropdown-item" href="{% url 'iodhsn' %}"
                               style="height: 40px; font-size: 15px; color: white;">HSN</a>
                            <a class="dropdown-item" href="{% url 'iod_import' %}"
                               style="height: 40px; font-size: 15px; color: white;">Import item</a>
                            <a class="dropdown-item" href="{% url 'iod_export' %}"
                               style="height: 40px; font-size: 15px; color: white;">Export item</a>
                        </div>
                </div>
            </div>-->
              

                  </div>
                </div>
              </div>
            <div class="table-responsive">
                <table class="table table-responsive-md table-hover mt-4" id="tabletobe">
                    <thead>
                    <tr>
                        
                        <th>Date</th>
                        <th>Transaction No.</th>
                        <th>Customer Name</th>
                        <th>Customer GSTIN</th>
                        <th>Total</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    {% for a in invoices %}
                <tr class='clickable-row' data-href="invoice_view/{{ a.invoiceid }}" >
                                <td>{{ a.invoicedate }}</td>
                                <td>{{ a.invoiceno }}</td>
                                <td>{{ a.customername }}</td>
                                <td></td>
                                <td>{{ a.grandtotal }}</td>
                                
                                        
                                    <!--<div class="dropdown">
                                        <button type="button" class="btn btn-outline-info dropdown-toggle text-grey"
                                                data-toggle="dropdown">Actions
                                        </button>
                                        <div class="dropdown-menu" style="background-color: white;">
                                            <a href="itemedit_page/{{ a.id }}" class="dropdown-item"
                                               style="color: black; font-size: 15px;">
                                                <i class="bx bx-edit"><b>EDIT</b></i>
                                            </a>
                                            <a href="view_item/{{ a.id }}" class="dropdown-item"
                                               style="color: black; font-size: 15px;">
                                                <i class="bx bx-edit"><b>VIEW</b></i>
                                            </a>
                                            
                                        </div>
                                    </div>-->

                                </td></a>
                            </tr>
                    {% endfor %}
                  
                  
                   
                  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>




{% endblock %}