{% extends 'app1/base.html' %}
{% block body %}
    {% load static %}
    {% if user.is_authenticated %}

    <style>
        tr:hover{
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.1);
        }
    </style>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js" ></script>

        <div class="page-content" id="test">
            <div class="card radius-15">
                <div class="card-body">
                    <div class="card-title">
                        <center><h2 class="mb-0">Debit Note</h2></center>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="card radius-15">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="d-flex">
                                <input type="text" id="search" class="form-control" placeholder="Search.." autocomplete="off">
                                <center><i class="fa fa-search form-control" style="width: 60px;"></i></center>
                            </div>    
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-3"></div>
                        <div class="col-md-1"></div>
                            <!-- <div class="btn-group col-md-2"> -->
                            <!-- <a class="btn btn-outline-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                role="button">Filter By
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'bill_draft' %}">Draft</a>
                                <a class="dropdown-item" href="#">Billed</a>
                                <a class="dropdown-item" href="#">Approved</a>
                            </div> -->
                            <a href="{% url 'addpurchasedebit' %}" class="btn btn-outline-info fa fa-plus" role="button">&nbsp;New</a>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <table class="table table-responsive-md mt-4" id="table">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Debit Number</th>
                                <th>Vendor</th>
                                <th>Tax Amount</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for p in pdebit %}
                                <tr onclick="window.location='viewpurchasedebit/{{ p.pdebitid }}';">
                                    <th>{{ p.debitdate |date:'d-m-Y' }}</th>
                                    <td>DN - {{ p.debit_no }}</td>
                                    <td>{{ p.vendor }}</a></td>
                                    <td>{{ p.taxamount }}</td>
                                    <td>{{ p.grandtotal }}</td>
                                </tr> 
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var $rows = $('#table tr');
            $('#search').keyup(function() {
                var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
                
                $rows.show().filter(function() {
                    var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                    return !~text.indexOf(val);
                }).hide();
            });
        </script>

    {% endif %}
{% endblock %}