{% extends 'app1/base.html' %}
{% block body %}
    {% load static %}
    {% if user.is_authenticated %}

    <style>
        tr:hover{
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.1);
        }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js" ></script>

        <div class="page-content" id="test">
            <div class="card radius-15">
                <div class="card-body">
                    <div class="card-title">
                        <center><h2 class="mb-0">PURCHASE ORDER</h2></center>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="card radius-15">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="d-flex">
                                <input type="text" id="search" class="form-control" placeholder="Search.." autocomplete="off">
                                <center><i class="fa fa-search form-control" style="width: 60px;"></i></center>
                            </div>    
                        </div>
                        <div class="  btn-group col-md-4"></div>
                        <div class="  btn-group col-md-3"></div>
                        <div class="btn-group col-md-2">
                            <a class="btn btn-outline-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                role="button">Filter By
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'gopurchaseorder' %}">All</a>
                                <a class="dropdown-item" href="{% url 'porder_draft' %}">Draft</a>
                                <a class="dropdown-item" href="{% url 'porder_billed' %}">Billed</a>
                                <a class="dropdown-item" href="{% url 'porder_approved' %}">Approved</a>
                            </div>
                            <a href="{% url 'addpurchaseorder' %}" class="btn btn-outline-info fa fa-plus" role="button">&nbsp;New</a>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <table class="table table-responsive-md mt-4" id="table">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Branch</th>
                                <th>Purchase Order Number</th>
                                <th>Reference</th>
                                <th>Vendor Name</th>
                                <th>Status</th>
                                <th>Expected Delivery Date</th>
                                <th>Total Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for p in pordr %}
                            <tr onclick="window.location='viewpurchaseorder/{{ p.porderid }}';">
                                <th>{{ p.date| date:'d-m-Y' }}</th>
                                <td>{{ p.branch }}</td>
                                <td>PO - {{ p.puchaseorder_no }}</a></td>
                                <td>{{ p.reference }}</td>
                                <td>{{ p.vendor_name }}</td>
                                <td>{{ p.status }}</td>
                                <td>{{ p.deliver_date| date:'d-m-Y' }}</td>
                                <td>{{ p.grand_total }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- <a href="javascript:generatePDF()">Dowload PDF</a> -->

        <script>
            var $rows = $('#table tr');
            $('#search').keyup(function() {
                var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
                
                $rows.show().filter(function() {
                    var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                    return !~text.indexOf(val);
                }).hide();
            });
        </script>

<!-- <script>
    function generatePDF() {
        var doc = new jsPDF();
        doc.fromHTML(document.getElementById("test"), // page element which you want to print as PDF
        15,
        15, 
        {
            'width': 170
        },
        function(a) 
        {
            doc.save("HTML2PDF.pdf");
        });
        }
</script> -->

    {% endif %}
{% endblock %}