<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fin sYs</title>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    
</head>
<style>
    
    
    .table2
    {
        text-align: center;
        padding-top: 6px;
        font-size: 1.1em;
        background-color:azure
       
    }
    
    .table-head
    {
        color: rgb(52, 49, 58);
        
       
    }
    .table2 .tbody tr 
    {
       margin-bottom: 3px;
    }
    .table3{
        width:75px;
        text-align: right;
        font-size: 14px;
    }
    body{
        font-size: 14px;
    }
    
</style>

<body>

    <div class="my-5 page" size="A4" >
        <div class="p-5">
            <div id="ember2512" class="tooltip-container ember-view ribbon text-ellipsis">
                <div class="ribbon-inner ribbon-open" style="background-color: #268ddd; margin-right: 600px; color: white; text-align: center; padding-top: 10px;">{{estimate.status}}<!----></div></div>
            <section class="top-content bb d-flex justify-content-between">
                <div class="logo">
                    <!-- <img src="logo.png" alt="" class="img-fluid"> -->
                </div>
                <div class="top-left">
                    <div class="graphic-path" style="text-align: right;padding-top: 10px;background-color:#22b8d1;margin-left: 550px; text-align: center; color :rgb(0, 0, 0)">
                        <p>Estimate</p>
                    </div>
                    <div class="position-relative" style="margin-left: 550px;text-align: center">
                        <p>Estimate No. <span>{{estimate.estimateno }}</span></p>
                    </div>
                </div>
            </section>
            <hr>
            <table class="table1">
                
                <tbody>
                    <tr style="font-weight: bolder;">
                        <td>From,</td>
                        <td>To,</td>
                    </tr>
                    <tr>
                        <td>{{cmp1.cname }}</td>
                        <td>{{estimate.customer}}</td>
                    </tr>
                    <tr>
                        <td>{{cmp1.caddress}}<br>{{cmp1.city}}<br>{{cmp1.state}}<br>{{cmp1.pincode}}</td>
                        <td style="width: 200px;">{{ estimate.billingaddress}}</td>
                    </tr>
                    
                </tbody>

            </table>
            <hr>
            <section class="store-user mt-5">
                <table class="table1" style="margin: 25px;">
                    <th>
                        Estimate Date : {{estimate.estimatedate | date:'d-m-Y'}}
                    </th>
                    <th>
                        Expiration Date : {{estimate.expirationdate | date:'d-m-Y'}}
                    </th>
                </table>
                
                    
                
            </section>

            <section class="product-area mt-4">
                <table class="table2 table-hover">
                    <thead>
                        <tr>
                            <td>Item Description</td>
                            <td>Price</td>
                            <td>Quantity</td>
                            <td>Tax</td>
                            <td>Total</td>
                        </tr>
                    </thead>
                    <tbody>

                        {% for j in estitem  %}
                        <tr>
                            <td>
                                <div class="media">
                                    
                                    <div class="media-body">
                                        <p class="mt-0 title" style="color:black">{{j.item}}</p>
                                        <span style="color:black">{{j.description}}</span>
                                    </div>
                                </div>
                            </td>
                            <td style="color:black">{{j.rate}}</td>
                            <td style="color:black">{{j.quantity}}</td>
                            <td style="color:black">{{j.tax}} %</td>
                            <td style="color:black">{{j.total}}</td>
                        </tr>
                        
                        {% endfor %}
                       


                        
                    </tbody>
                </table>
            </section>

            <section class="balance-info">
                <div class="row">
                    
                    <div class="col-4">
                        <table class="table3 border-0 table-hover">
                            <tr >
                                <td style="color:black; font-weight:bold">Sub Total : </td>
                                <td style="color:black; font-weight:bold">{{estimate.subtotal}}</td>
                            </tr>
                            {% if estimate.IGST != "" %}
                            <tr>
                                <td style="color:black; font-weight:bold">IGST : </td>
                                <td style="color:black; font-weight:bold">{{estimate.IGST}}</td>
                            </tr>
                            {% endif %}
                            {% if estimate.CGST != "" %}
                            <tr>
                                <td style="color:black; font-weight:bold">CGST : </td>
                                <td style="color:black; font-weight:bold">{{estimate.CGST}}</td>
                            </tr>
                            {% endif %}
                            {% if estimate.SGST != "" %}
                            <tr>
                                <td style="color:black; font-weight:bold">SGST : </td>
                                <td style="color:black; font-weight:bold">{{estimate.SGST}}</td>
                            </tr>
                            {% endif %}
                            {% if estimate.TCS != "" %}
                            <tr style="display: none;">
                                <td style="color:black; font-weight:bold">TCS : </td>
                                <td style="color:black; font-weight:bold">{{estimate.TCS}}</td>
                            </tr>
                            {% endif %}
                            <tfoot>
                                <tr>
                                    <td style="color:black; font-weight:bold">Estimate Total : </td>
                                    <td style="color:black; font-weight:bold ;">{{estimate.estimatetotal}}</td>
                                </tr>
                            </tfoot>
                        </table>

                      
                    </div>
                    <div class="col-8">
                        <p class="m-0 font-weight-bold" style="color:black"> Note : </p>
                        <p style="color:black">{{estimate.note}}</p>
                    </div>
                </div>
            </section>

            <!-- Cart BG -->
            <img src="cart.jpg" class="img-fluid cart-bg" alt="">

            
        </div>
    </div>
      
    
    
</body>

</html>