<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fin sYs</title>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    
</head>
<style>
    
    
    .table2
    {
        text-align: center;
        padding-top: 6px;
        font-size: 1.1em;
        background-color:azure
       
    }
    
    .table-head
    {
        color: rgb(52, 49, 58);
        
       
    }
    .table2 .tbody tr 
    {
       margin-bottom: 3px;
    }
    .table3{
        width:75px;
        text-align: right;
        font-size: 14px;
    }
    body{
        font-size: 14px;
    }
    
</style>

<body>

    <div class="my-5 page" size="A4" >
        <div class="p-5">
            <div id="ember2512" class="tooltip-container ember-view ribbon text-ellipsis">
                <div class="ribbon-inner ribbon-open" style="background-color: #268ddd; margin-right: 600px; color: white; text-align: center; padding-top: 10px;">{{estimate.status}}<!----></div></div>
            <section class="top-content bb d-flex justify-content-between">
                <div class="logo">
                    <!-- <img src="logo.png" alt="" class="img-fluid"> -->
                </div>
                <div class="top-left">
                    <div class="graphic-path" style="text-align: right;padding-top: 10px;background-color:#22b8d1;margin-left: 550px; text-align: center; color :rgb(0, 0, 0)">
                        <p>Purchase Order</p>
                    </div>
                    <div class="position-relative" style="margin-left: 550px;text-align: center">
                        <p>PO No. <span>{{estimate.puchaseorder_no }}</span></p>
                    </div>
                </div>
            </section>
            <hr>
            <table class="table1">
                
                <tbody>
                    <tr style="font-weight: bolder;">
                        <td>From,</td>
                        <td>To,</td>
                    </tr>
                    <tr>
                        <td>{{cmp1.cname }}</td>
                        <td>{{estimate.vendor_name}}</td>
                    </tr>
                    <tr>
                        <td>{{cmp1.caddress}}<br>{{cmp1.city}}<br>{{cmp1.state}}<br>{{cmp1.pincode}}</td>
                        <td style="width: 200px;">{{ estimate.billing_address}}</td>
                    </tr>
                    
                </tbody>

            </table>
            <hr>
            <section class="store-user mt-5">
                <table class="table1" style="margin: 25px;">
                    <tr>
                        <th>
                            <p>Deliver To Details: </p>
                            <p>{{estimate.contact_name}}</p>
                            <p class="address col-6" style="padding-left: 15px;padding-right: 15px;"> {{ estimate.deliverto}} </p>
                        </th>
                    
                        <th>
                            <p>Date : {{ estimate.date | date:'d-m-Y' }}</p>
                            <p>Excpected Date : {{ estimate.deliver_date | date:'d-m-Y' }}</p>
                        </th>
                    </tr>
                </table>
                
                    
                
            </section>

            <section class="product-area mt-4">
                <table class="table2 table-hover">
                    <thead>
                        <tr>
                            <tr>
                                <td>Items</td>
                                <td>HSN Code</td>
                                <td>Quantity</td>
                                <td>Rate</td>
                                <td>Tax</td>
                                <td>Total</td>
                            </tr>
                        </tr>
                    </thead>
                    <tbody>

                        {% for pordr in pitem %}
                        <tr>
                            <td class="text-center" style="color:#000">{{ pordr.items }}</td>
                            <td class="text-center" style="color:#000">{{ pordr.hsn }}</td>
                            <td class="text-center" style="color:#000">{{ pordr.quantity }}</td>
                            <td class="text-center" style="color:#000">{{ pordr.rate  }}</td>
                            <td class="text-center" style="color:#000">{{ pordr.tax  }}</td>
                            <td class="text-center" style="color:#000">{{ pordr.amount }}</td>
                        </tr>
                                    
                        {% endfor %} 
   
                    </tbody>
                </table>
            </section>

            <section class="balance-info">
                <div class="row">
                    
                    <div class="col-4" >
                        <table class="table3 border-0 table-hover"  >
                            <tr >
                                <td style="color:black">Sub Total :</td>
                                <td style="color:black;">{{estimate.sub_total}}</td>
                            </tr>
                            {% if estimate.discount != "0" %}
                            <tr>
                                <td style="color:black">Discount</td>
                                <td style="color:black">{{estimate.discount}}</td>
                            </tr>
                            {% endif %}
                            {% if estimate.igst != "0" %}
                            <tr>
                                <td style="color:black">IGST :</td>
                                <td style="color:black">{{estimate.igst}}</td>
                            </tr>
                            {% endif %}
                            {% if estimate.cgst != "0" %}
                            <tr>
                                <td style="color:black">CGST :</td>
                                <td style="color:black">{{estimate.cgst}}</td>
                            </tr>
                            {% endif %}
                            {% if estimate.sgst != "0" %}
                            <tr>
                                <td style="color:black">SGST :</td>
                                <td style="color:black">{{estimate.sgst}}</td>
                            </tr>
                            {% endif %}
                            {% if estimate.tcs != "0.00" %}
                            <tr style="display: none;">
                                <td style="color:black">TCS:</td>
                                <td style="color:black">{{estimate.tcs}}</td>
                            </tr>
                            {% endif %}
                            <tfoot>
                                <tr>
                                    <td style="color:black">Grand Total:</td>
                                    <td style="color:black ;">{{estimate.grand_total}}</td>
                                </tr>
                            </tfoot>
                        </table>
                        <div class="col-8">
                        <p class="m-0 font-weight-bold" style="color:black"> Note: </p>
                        <p style="color:black">{{estimate.note}}</p>
                        </div>

                      
                    </div>
                    <div style="text-align: right;">
                        Authorized Signature
                    </div>
                </div>
            </section>

            <!-- Cart BG -->
            <img src="cart.jpg" class="img-fluid cart-bg" alt="">

            
        </div>
    </div>
      
    
    
</body>

</html>