<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fin sYs</title>
    <link rel="icon" href="static/assets/images/favicon-32x32.png" type="image/png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
    
</head>
<style>
    .table1
    {
       
        font-size: 1.2em;
        text-align: left;
       
    }
    .table1 tr{
        padding: 4px;
    }
    .table1 tr td{
        padding: 2px;
        margin-top: 5px;
        margin-left: 4px;
    }
    
    
    .table2
    {
        text-align: center;
        padding-top: 6px;
        font-size: 1.1em;
        background-color:azure
       
    }
    
    .table-head
    {
        color: rgb(52, 49, 58);
        
       
    }
    .table2 .tbody tr 
    {
       margin-bottom: 3px;
    }
</style>

<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p style="font-size:14px;color:black;">{{cmp1.cname}}<br>
                    {{cmp1.pincode}}<br>
                       {{cmp1.state}}, <br>
                       {{cmp1.cemail}}
                      <br>
                      {{cmp1.phone}} <br></p>
            </div>
        </div>
    
        <hr>
        <div class="row">
            <div class="col-sm-12" style="text-align: center;">
                <h1>PAYMENT RECEIVED</h1>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-8" >
                <p style="color:black; font-size: 14px;">payment date : {{pay.paymdate | date:'d-m-Y'}}<br>
                payment mode : {{pay.pmethod}}<br>
                reference no. : {{pay.refno}}</p>
            </div>
            <div class="col-sm-4" style="margin-left: 600px; margin-top: -100px;">
                <p style="background-color: green; font-size: 14px;color: white; text-align: center;" >&nbsp &nbspAmount<br>
                &nbsp ₹ {{pay.amtapply}}</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6">
                <h6 style="font-size: 14px;">RECEIVED FROM</h6>
                
                <p style="font-size:14px;color:black;"> {{custobject.street}},{{custobject.city}}<br>
                    {{custobject.pincode }}<br>
                    {{custobject.state}},{{custobject.country}} <br>
                    {{custobject.email}}
                    <br>
                    {{custobject.mobile}}<br></p>
            </div>
            <div class="col-sm-6" style="text-align: right; font-size: 14px;">
                <h5>Authorized Signature</h5>
            </div>

        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <table class="table2">
                    <thead class="table-head" >
                        <tr>
                          <th >Invoice Number</th>
                          <th >Invoice Date</th>
                          <th >Invoice Amount</th>
                          <th >Payment Amount</th>
                          
                          
                          
                        </tr>
                    </thead>
                 
                    <tbody>
        
                        {% for j in inv_dtl %}
                        <tr>
                          <td>{{j.invoiceno}}</td>
                          <td>{{j.invoicedate}}</td>
                          <td>{{j.grandtotal}}</td>
                          <td>{{pay.amtapply}}</td>
                         
                        </tr>
                        {% endfor %}
                        
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
      
    
    
</body>

</html>