{% extends 'app1/base.html' %}
{% block body %}
    {% load static %}

    <script type="text/javascript" src="{% static 'assets/dist/jautocalc.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>

    <style>
        @media print {
            body * {
                visibility: hidden;


            }

            .print-container * {
                visibility: visible;
            }


            .card * {
                border: none;
            }

            .print-button * {
                visibility: hidden;
                position: relative;
            }

            .card1 {
                border: solid gray;
            }

            .card2 {
                border-bottom: solid gray;
            }

            @page {
                size: 460mm 600mm;
            }
        }
    </style>


    <style>
        #tt {
            position: absolute;
        }

        input {
            background-color: #2f516f;
            border: 0;
            border-radius: 5px;
            color: white;
        }
    </style>
    <!-- Trigger/Open The Modal -->


    <div style="margin:30px; padding-top: 30px; padding-bottom: 40px;">
        <div class="card radius-15 card1 print-container">
            <div class="card-body">
                <div class="card-title">
                    <center><h2 class="mb-0">PAY SLIP</h2></center>
                </div>
                <hr/>
            </div>
        </div>


        <div class="card radius-15 print-container">
            <div class="card-body card1">
                <div class="row">
                    <div class="col card2">
                        <center><label style="font-size: 35px; font-family: -apple-system;">{{ cmp1.cname }}</label>
                        </center>
                    </div>
                </div>
                <hr>
                <div class="row" style="padding-top: 20px;">
                    <div class="col-md-6">
                        <table class="table table-hover table-borderless table-sm">
                            <thead style="font-size: 15px;">
                            <tr>
                                <th style="padding-left: 50px;">
                                    <label> EMPLOYEE NUMBER &nbsp; </label>
                                </th>
                                <th>
                                    <label> :{{ payslip.employeenumber }} </label>
                                </th>
                            </tr>
                            <tr>

                                <th style="padding-left: 50px;">

                                    <label> EMPLOYEE NAME &nbsp; </label>
                                </th>

                                <th>

                                    <label> :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ payslip.empname }} </label>
                                </th>
                            </tr>
                            <tr>

                                <th style="padding-left: 50px;">

                                    <label> DESIGNATION </label>
                                </th>

                                <th>

                                    <label>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ payslip.desig }} </label>
                                </th>
                            </tr>

                            <tr>

                                <th style="padding-left: 50px;">

                                    <label> DEPARTMENT &nbsp; </label>
                                </th>

                                <th>

                                    <label> :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ employee.department }} </label>
                                </th>
                            </tr>

                            <tr>

                                <th style="padding-left: 50px;">

                                    <label> BRANCH &nbsp; </label>
                                </th>

                                <th>

                                    <label> :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ employee.branch }} </label>
                                </th>
                            </tr>


                            <tr>

                                <th style="padding-left: 50px;">

                                    <label> LOCATION </label>
                                </th>

                                <th>

                                    <label>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ employee.location }} </label>
                                </th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-hover table-borderless table-sm">
                            <thead style="font-size: 15px;">
                            <tr>
                                <th><label></label></th>
                                <th><label></label></th>
                            </tr>

                            <tr>

                                <th style="padding-left: 50px;">

                                    <label> PAYMENT PERIOD FROM </label>
                                </th>

                                <th>

                                    <label> :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ payslip.fper }} </label>
                                </th>
                            </tr>


                            <tr>

                                <th style="padding-left: 50px;">

                                    <label> PAYMENT PERIOD TO</label>
                                </th>

                                <th>

                                    <label> :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ payslip.tper }} </label>
                                </th>
                            </tr>


                            <tr>

                                <th style="padding-left: 50px;">

                                    <label> DATE OF PAYMENT</label>
                                </th>

                                <th>

                                    <label>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ payslip.paydate }} </label>
                                </th>
                            </tr>

                            </thead>
                        </table>
                    </div>
                </div>
                <hr>

                &nbsp;<center><h4 style="padding-bottom: 14px;">Statutory Details</h4></center>
                <hr>


                <div class="row" style="padding-top: 20px;">

                    <div class="col-md-6">
                        <table class="table table-hover table-borderless table-sm">
                            <thead style="font-size: 15px;">


                            <tr>

                                <th style="padding-left: 50px;">

                                    <label>APPLICABLE TAX REGIME</label>
                                </th>

                                <th>

                                    <label>
                                        :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ employee.applicabletaxregime }} </label>
                                </th>
                            </tr>


                            <tr>

                                <th style="padding-left: 50px;">

                                    <label> PAN NUMBER</label>
                                </th>

                                <th>

                                    <label> :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ employee.pannumber }} </label>
                                </th>
                            </tr>

                            <tr>

                                <th style="padding-left: 50px;">

                                    <label> PF ACCOUNT NUMBER</label>
                                </th>

                                <th>

                                    <label> :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ employee.pfaccountnumber }} </label>
                                </th>
                            </tr>

                            </thead>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-hover table-borderless table-sm">
                            <thead style="font-size: 15px;">

                            <tr>

                                <th style="padding-left: 50px;">

                                    <label> EPS ACCOUNT NUMBER</label>
                                </th>

                                <th>

                                    <label>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ employee.epsaccountnumber }} </label>
                                </th>
                            </tr>


                            <tr>

                                <th style="padding-left: 50px;">

                                    <label>PR ACCOUNT NUMBER</label>
                                </th>

                                <th>

                                    <label> :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ employee.praccountnumber }} </label>
                                </th>
                            </tr>


                            <tr>

                                <th style="padding-left: 50px;">

                                    <label> ESI NUMBER </label>
                                </th>

                                <th>

                                    <label> :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ employee.esinumber }} </label>
                                </th>
                            </tr>

                            </thead>
                        </table>
                    </div>
                </div>

                <hr>

                &nbsp;<center><h4 style="padding-bottom: 14px;">Salary Details</h4></center>
                <hr>

                <div class="row clearfix ">
                    <div class="col-md-6 card1">
                        <table class="table table-hover" id="tab_logic">
                            <tbody style="font-size: 17px;">
                            <tr>
                                <th colspan="2" class="text-center card2" style="font-size: 21px;"> Earnings</th>
                            </tr>
                            <tr>

                                <td>Basic Salary</td>
                                <td>
                                    <div class="row">
                                        <div class="col-11">
                                            <label class="form-label" type="number" name='basic' placeholder=' '
                                                   class="form-control price" step="0.00"
                                                   min="0"> {{ payslip.basic }}</label>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Dearance Allowance</td>
                                <td>
                                    <div class="row">
                                        <div class="col-11">
                                            <label class="form-label" type="number" name='da' placeholder=' '
                                                   class="form-control price" step="0.00"
                                                   min="0"> {{ payslip.da }}</label>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="form-label" type="text" name='ear1' placeholder=' '
                                           class="form-control">{{ payslip.ear1 }}</label></td>
                                <td>
                                    <div class="row">
                                        <div class="col-11">
                                            <label class="form-label" type="number" name='earr1' placeholder=' '
                                                   class="form-control price" step="0.00"
                                                   min="0">{{ payslip.earr1 }}</label>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr id="e2">
                                <td><label class="form-label" type="text" name='ear2' placeholder=' '
                                           class="form-control">{{ payslip.ear2 }}</label></td>
                                <td>
                                    <div class="row">
                                        <div class="col-11">
                                            <label class="form-label" type="number" name='earr2' id="earr2"
                                                   class="form-control">{{ payslip.earr2 }}</label>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr id="e3">
                                <td><label class="form-label" type="text" name='ear3' placeholder=' '
                                           class="form-control">{{ payslip.ear3 }}</label></td>
                                <td>
                                    <div class="row">
                                        <div class="col-11">
                                            <label class="form-label" type="number" name='earr3' id="earr3"
                                                   placeholder=' ' class="form-control price" step="0.00"
                                                   min="0"> {{ payslip.earr3 }}</label>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr id="e4">
                                <td><label class="form-label" type="text" name='ear4' placeholder=' '
                                           class="form-control">{{ payslip.ear4 }}</label></td>
                                <td>
                                    <div class="row">
                                        <div class="col-11">
                                            <label class="form-label" type="number" name='earr4' id="earr4"
                                                   placeholder=' ' class="form-control price" step="0.00"
                                                   min="0">{{ payslip.earr4 }}</label>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr id="e5">
                                <td><label class="form-label" type="text" name='ear5' placeholder=' '
                                           class="form-control">{{ payslip.ear5 }}</label></td>
                                <td>
                                    <div class="row">
                                        <div class="col-11">
                                            <label class="form-label" type="number" name='earr5' id="earr5"
                                                   placeholder=' ' class="form-control price" step="0.00"
                                                   min="0">{{ payslip.earr5 }}</label>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr id="e6">
                                <td><label class="form-label" type="text" name='ear6' placeholder=' '
                                           class="form-control">{{ payslip.ear6 }}</label></td>
                                <td>
                                    <div class="row">
                                        <div class="col-11">
                                            <label class="form-label" type="number" name='earr6' id="earr6"
                                                   placeholder=' ' class="form-control price" step="0.00"
                                                   min="0">{{ payslip.earr6 }}</label>
                                        </div>

                                    </div>
                                </td>
                            </tr>

                            <tr id="e7">
                                <td><label class="form-label" type="text" name='ear7' placeholder=' '
                                           class="form-control">{{ payslip.ear7 }}</label></td>
                                <td>
                                    <div class="row">
                                        <div class="col-11">
                                            <label class="form-label" type="number" name='earr7' id="earr7"
                                                   placeholder=' ' class="form-control price" step="0.00"
                                                   min="0">{{ payslip.earr7 }}</label>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>

                            </tbody>&nbsp;
                        </table>
                    </div>
                    <div class="col-md-6 card1">
                        <table class="table table-hover " id="tab_logic2">

                            <tbody style="font-size: 17px;">
                            <tr>
                                <th colspan="2" class="text-center card2" style="font-size: 21px;"> Deduction</th>

                            </tr>
                            <tr>
                                <td>Provident Fund</td>
                                <td>
                                    <div class="row">
                                        <div class="col-11">
                                            <label class="form-label" type="number" name='provi' placeholder=' '
                                                   class="form-control price2" step="0.00"
                                                   min="0">{{ payslip.provi }}</label>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Profession Tax</td>
                                <td>
                                    <div class="row">
                                        <div class="col-11">
                                            <label class="form-label" type="number" name='prof' placeholder=' '
                                                   class="form-control price2" step="0.00"
                                                   min="0">{{ payslip.prof }}</label>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>ESI</td>
                                <td>
                                    <div class="row">
                                        <div class="col-11">
                                            <label class="form-label" type="number" name='esi' placeholder=''
                                                   class="form-control price2" step="0.00"
                                                   min="0">{{ payslip.esi }}</label>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr id="d1">
                                <td><label class="form-label" type="text" name='ded1' placeholder=' '
                                           class="form-control">{{ payslip.ded1 }}</label></td>
                                <td>
                                    <div class="row">
                                        <div class="col-11">
                                            <label class="form-label" type="number" name='dedu1' id="dedu1"
                                                   placeholder=' ' class="form-control price2" step="0.00"
                                                   min="0">{{ payslip.dedu1 }}</label>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr id="d2">
                                <td><label class="form-label" type="text" name='ded2' placeholder='   '
                                           class="form-control">{{ payslip.ded2 }}</label></td>
                                <td>
                                    <div class="row">
                                        <div class="col-11">
                                            <label class="form-label" type="number" name='dedu2' id="dedu2"
                                                   placeholder=' ' class="form-control price2" step="0.00"
                                                   min="0">{{ payslip.dedu2 }}</label>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr id="d3">
                                <td><label class="form-label" type="text" name='ded3' placeholder=' '
                                           class="form-control">{{ payslip.ded3 }}</label></td>
                                <td>
                                    <div class="row">
                                        <div class="col-11">
                                            <label class="form-label" type="number" name='dedu3' id="dedu3"
                                                   placeholder='  ' class="form-control price2" step="0.00"
                                                   min="0">{{ payslip.dedu3 }}</label>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr id="d4">
                                <td><label class="form-label" type="text" name='ded4' placeholder=' '
                                           class="form-control">{{ payslip.ded4 }}</label></td>
                                <td>
                                    <div class="row">
                                        <div class="col-11">
                                            <label class="form-label" type="number" name='dedu4' id="dedu4"
                                                   placeholder=' ' class="form-control price2" step="0.00"
                                                   min="0">{{ payslip.dedu4 }}</label>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr id="d5">
                                <td><label class="form-label" type="text" name='ded5' placeholder=' '
                                           class="form-control">{{ payslip.ded5 }}</label></td>
                                <td>
                                    <div class="row">
                                        <div class="col-11">
                                            <label class="form-label" type="number" name='dedu5' id="dedu5"
                                                   placeholder=' ' class="form-control price2" step="0.00"
                                                   min="0">{{ payslip.dedu5 }}</label>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr id="d6">
                                <td><label class="form-label" type="text" name='ded6' placeholder=' '
                                           class="form-control">{{ payslip.ded6 }}</label></td>
                                <td>
                                    <div class="row">
                                        <div class="col-11">
                                            <label class="form-label" type="number" name='dedu6' id="dedu6"
                                                   class="form-control price2" step="0.00"
                                                   min="0">{{ payslip.dedu6 }}</label>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>&nbsp;
                        </table>
                    </div>
                </div>
                <div class="row clearfix" style="margin-top:20px">
                    <div class="col"></div>
                    <div class="col">
                        <table class="table table-hover" id="tab_logic_total">
                            <tbody>
                            <tr>
                                <th class="text-center" style="font-size: 18px;">Gross Pay</th>
                                <td class="text-center"><label class="form-label" type="number" name='gros'
                                                               placeholder='0.00' class="form-control" id="subtotal"
                                                               style="font-size: 18px;">{{ payslip.gros }}</label></td>
                            </tr>
                            <tr>
                                <th class="text-center" style="font-size: 18px;">Total Deduction</th>
                                <td class="text-center"><label class="form-label" type="number" name='tded'
                                                               placeholder='0.00' class="form-control" id="subtotal2"
                                                               style="font-size: 18px;">{{ payslip.tded }}</label></td>
                            </tr>
                            <tr>
                                <th class="text-center" style="font-size: 18px;">Net Salary</th>
                                <td class="text-center"><label class="form-label" type="number" name='netsal'
                                                               id="grandtotal" placeholder='0.00'
                                                               style="font-size: 18px;"
                                                               class="form-control">{{ payslip.netsal }}</label></td>

                            </tr>
                            <tr>
                                <th class="text-center"></th>
                                <td class="text-center"><label class="form-label" type="number" placeholder='0.00'
                                                               class="form-control"></label></td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <hr>
                <div class="row print-button">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="form-row">
                            <button class="btn btn-outline-info rounded-pill w-100 text-light" onclick="window.print()" style="width: 100%;">PRINT</button>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                &nbsp;
                <div class="row">
                    <div class="col" style="text-align: center;">
                        Finsys All Terms and Conditions Apply
                    </div>
                </div>
                &nbsp;
                <hr>
                <div>
                </div>

                <script>

                    var earr2 = document.getElementById('earr2').textContent;
                    earr2 = parseFloat(earr2);

                    var earr3 = document.getElementById('earr3').textContent;
                    earr3 = parseFloat(earr3);

                    var earr4 = document.getElementById('earr4').textContent;
                    earr4 = parseFloat(earr4);

                    var earr5 = document.getElementById('earr5').textContent;
                    earr5 = parseFloat(earr5);


                    if (Number.isNaN(earr2)) {
                        earr2 = 0;
                        document.getElementById('e2').style.display = 'none';
                    }
                    if (Number.isNaN(earr3)) {
                        earr3 = 0;
                        document.getElementById('e3').style.display = 'none';
                    }

                    if (Number.isNaN(earr4)) {
                        earr4 = 0;
                        document.getElementById('e4').style.display = 'none';
                    }
                    if (Number.isNaN(earr5)) {
                        earr5 = 0;
                        document.getElementById('e5').style.display = 'none';
                    }

                    var earr6 = document.getElementById('earr6').textContent;
                    earr6 = parseFloat(earr6);

                    if (Number.isNaN(earr6)) {
                        earr6 = 0;
                        document.getElementById('e6').style.display = 'none';
                    }

                    var earr7 = document.getElementById('earr7').textContent;
                    earr7 = parseFloat(earr7);

                    if (Number.isNaN(earr7)) {
                        earr7 = 0;
                        document.getElementById('e7').style.display = 'none';
                    }


                    var dedu1 = document.getElementById('dedu1').textContent;
                    dedu1 = parseFloat(dedu1);

                    var dedu2 = document.getElementById('dedu2').textContent;
                    dedu2 = parseFloat(dedu2);

                    var dedu3 = document.getElementById('dedu3').textContent;
                    dedu3 = parseFloat(dedu3);

                    var dedu4 = document.getElementById('dedu4').textContent;
                    dedu4 = parseFloat(dedu4);

                    var dedu5 = document.getElementById('dedu5').textContent;
                    dedu5 = parseFloat(dedu5);

                    var dedu6 = document.getElementById('dedu6').textContent;
                    dedu6 = parseFloat(dedu6);


                    if (Number.isNaN(dedu1)) {
                        dedu1 = 0;
                        document.getElementById('d1').style.display = 'none';
                    }
                    if (Number.isNaN(dedu2)) {
                        dedu2 = 0;
                        document.getElementById('d2').style.display = 'none';
                    }
                    if (Number.isNaN(dedu3)) {
                        dedu3 = 0;
                        document.getElementById('d3').style.display = 'none';
                    }
                    if (Number.isNaN(dedu4)) {
                        dedu4 = 0;
                        document.getElementById('d4').style.display = 'none';
                    }
                    if (Number.isNaN(dedu5)) {
                        dedu5 = 0;
                        document.getElementById('d5').style.display = 'none';
                    }
                    if (Number.isNaN(dedu6)) {
                        dedu6 = 0;
                        document.getElementById('d6').style.display = 'none';
                    }
                </script>


                <script>
                    // Get the modal
                    var modal = document.getElementById("myModal");

                    // Get the button that opens the modal
                    var btn = document.getElementById("myBtn");

                    // Get the <span> element that closes the modal
                    var span = document.getElementsByClassName("close")[0];

                    // When the user clicks the button, open the modal
                    btn.onclick = function () {
                        modal.style.display = "block";
                    }

                    // When the user clicks on <span> (x), close the modal
                    span.onclick = function () {
                        modal.style.display = "none";
                    }

                    // When the user clicks anywhere outside of the modal, close it
                    window.onclick = function (event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                </script>
            </div>
        </div>
    </div>
    </form>
{% endblock %}
