{% extends 'app1/base.html' %}
{% block body %}
    {% load static %}
    {% if user.is_authenticated %}
      
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>

    <script>
        function printDiv() {
            var divContents = document.getElementById("GFG").innerHTML;
            var a = window.open( '', 'height=1000, width=2000');
            a.document.write('<html>');
            a.document.write(divContents);
            a.document.write('</body></html>');
            a.document.close();
            a.print();
        }
    </script>

    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

    <script type="text/javascript">
        function ExportToExcel(type, fn, dl) {
            var elt = document.getElementById('tbl_exporttable_to_xls');
            var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
            return dl ?
            XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }):
            XLSX.writeFile(wb, fn || ('Account Transactions.' + (type || 'xlsx')));
        }
    </script>

    <div class="page-content">
        <div class="card radius-15">
            <div class="card-body">
                <div class="card-title">
                    <center><h2 class="mb-0">Account Transactions</h2></center>
                    <hr>
                </div>
            </div>
        </div>

        <div class="card radius-15">
            <div class="card-body">
                <form action="{% url 'stkvalreport_flt' keys%}" method="post" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-4">
                            <label style="text-align:left ">Report period</label><br>
                            <input type="text" name="itm" value="{{itm2}}" hidden>
                            <select class="form-control" id="filterstyle" onchange="filterDate(this)"
                                    list="hosting-plan"
                                    name="reportperiod" type="text">
                                <option><span class="bx bx-right-arrow-alt"></span>All dates</option>
                                <option><span class="bx bx-right-arrow-alt"></span>Custom</option>
                                </select>
                        </div>
                        <div class="col-sm-4" id="frdate" style="display: none;">
                            <label for="from">From</label>
                            <input type="date" class="form-control" name="fdate">
                        </div>
                        <div class="col-sm-4" id="todate" style="display: none;">
                            <label for="from">To</label>
                            <input type="date" class="form-control" name="ldate">
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-3">
                            <button class="btn btn-outline-info  rounded-pill w-100" type="submit">Search</button>
                        </div>
                        <div class="col-md-3" >
                            <button class="btn btn-outline-info" onclick="printDiv()">Print</button>
                            <!-- <button onclick="ExportToExcel('xlsx')">Export to excel</button> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card radius-15">
            <div class="card-body">
                <div class="container-fluid">
                    <div id="GFG" >
                    <p style="text-align: right;color: rgb(255, 255, 255);"><span style="font-weight: bold;">From Date</span>  : {{fromdate|date:'d-m-Y'}} <br> <span style="font-weight: bold;">To Date</span> : {{todate|date:'d-m-Y'}}</p>
                    <table class="table table-responsive-md mt-4 table-hover" id="tbl_exporttable_to_xls" >
                        <thead>
                        <tr>
                            <th style="text-align: center;">Date</th>
                            <th style="text-align: center;">ACCOUNT</th>
                            <th style="text-align: center;">TRANSACTION DETAILS</th>
                            <th style="text-align: center;">TRANSACTION TYPE</th>
                            <th style="text-align: center;">TRANSACTION#</th>
                            <th style="text-align: center;">REFERENCE#</th>
                            <!-- <th style="text-align: center;">QTY IN</th>
                            <th style="text-align: center;">QTY OUT</th> -->
                            <th style="text-align: center;">QUANTITY</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr class="table-row " data-href="" >
                                <td style="text-align: center;"> As On 
                                    {% if fdate != "" %}
                                        {{fdate}}
                                    {% else %}
                                        01-04-{% now 'Y' %}
                                    {% endif %}
                                </td>
                                <td style="text-align: center;"></td>
                                <td style="text-align: center;"> </td>
                                <td style="text-align: center;"></td>
                                <td style="text-align: center;"></td>
                                <td style="text-align: center;"></td>
                                <!-- <td style="text-align: center;"></td>
                                <td style="text-align: center;"></td> -->
                                <td style="text-align: center;"></td>
                                
                            </tr>
                            {% for i in acc %}
                                {% if i.cid_id == cmp1.cid %}
                                <tr >
                                    <td style="text-align: center;">{{ i.date | date:'d-m-Y' }}</td>
                                    <td style="text-align: center;">{{ i.items }}</td>
                                    <td style="text-align: center;"></td>
                                    <td style="text-align: center;">
                                        {% if i.transactions == "Billed"  %}
                                            Bill
                                        {% elif i.transactions == "Stock Adjust"  %}
                                            Stock Adjust
                                        {% endif %}
                                    </td>
                                    <td style="text-align: center;">
                                        {% if i.transactions == "Billed"  %}
                                            {{ i.details }}
                                        {% elif i.transactions == "Stock Adjust"  %}
                                            {{ i.details }}
                                        {% endif %}
                                    </td>
                                    <td style="text-align: center;">
                                        {% if i.transactions == "Billed" %}
                                            {{ i.details1 }}
                                        {% endif %}</td>
                                    <!-- <td style="text-align: center;">
                                        {% if i.transactions == "Billed" %}
                                            {{ i.qty }}
                                        {% endif %}
                                    </td> -->
                                    <!-- <td style="text-align: center;">
                                        {% if i.transactions == "Stock Adjust"  %}
                                            {{i.qty}}
                                        {% endif %}
                                    </td> -->
                                    <td style="text-align: center;">
                                        {% if i.transactions == "Billed"  %}
                                            {{i.qty}} 
                                        {% elif i.transactions == "Stock Adjust"  %}
                                            {{i.qty}}
                                        {% endif %}
                                    </td>    
                                </tr>
                            {% endif %}
                        {% endfor %}

                        <!-- {% if value != "" %}
                            <tr>
                                <td style="text-align: center;"> </td>
                                <td colspan="2" style="text-align: center;">Total Qty In and Qty Out
                                    {% if fdate != "" %}
                                        ( {{fdate}}  - {{ldate}} ) 
                                    {% else %}
                                        ( 01-04-{% now 'Y' %} - {{to}} ) 
                                    {% endif %}    
                                </td>
                                <td style="text-align: center;"></td>
                                <td style="text-align: center;"></td>
                                <td style="text-align: center;"></td>
                                <td style="text-align: center;">{{ debit }}</td>
                                <td style="text-align: center;">{{ credit }}</td>
                                <td style="text-align: center;"></td>    
                            </tr>
                        {% endif %} -->
                        
                        <tr>
                            <td style="text-align: center;"> As On 
                                {% if ldate != "" %}
                                    {{ldate}}
                                {% else %}
                                    {{to}}
                                {% endif %}
                            </td>
                            <td style="text-align: center;">Total</td>
                            <td style="text-align: center;"> </td>
                            <td style="text-align: center;"></td>
                            <td style="text-align: center;"> </td>
                            <td style="text-align: center;"></td>
                            <!-- <td style="text-align: center;"></td>
                            <td style="text-align: center;"></td> -->
                            <td style="text-align: center;">{{total}}</td>    
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    </div>

    <script>
        function filterDate(element) {
            if (element.value == 'Custom') {
                document.getElementById('frdate').style.display = 'block';
                document.getElementById('todate').style.display = 'block';
            } else {
                document.getElementById('frdate').style.display = 'none';
                document.getElementById('todate').style.display = 'none';
            }
        }
    </script> 
          
    {% endif %}
{% endblock %}