{% extends 'app1/base.html' %}

{% block body %}

<style>

    .table-head{
        font-weight: bold;
    }
    .rectangle{
        font-size:10px;
    }
       
    .modal-dialog { /* Width */
        width:500px;
        height:800px;
        display: inline-block;
        font-size:20px;
    }
    .modal {
        z-index: -1;
        width:A4;
        height:A4;
        display: flex !important;
        justify-content: center;
        align-items: center;
      }
      
      .modal-open .modal {
         z-index: 1050;
      }  
</style>

<div class="page-content">
<div class="card radius-15 h-20">
  <div class="row">
      <div class="col-md-12">
          <center><h2 class="mt-3">JOURNAL TEMPLATES</h2></center>
          
          
      </div>
  </div>
</div>

  <div class="py-5">
    <div class="container">
      <div class="row hidden-md-up">
        <div class="col-md-5">
          <div class="card">
            <div class="card-block">
              <div class="card-body">
                <div class="container bootdey">
                    
                    <a data-toggle="modal" data-target="#exampleModal" >
                        <div class="radius-15  print-content" style="margin-bottom: 50px;width:A4;height:fit-content;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                    <div id="GFG" >
                                        <div class="rectangle"
                                             style="color:black; background-color: white;width: 100%;height:450px;border: 3px white;padding: 20px;">
                                          
                    
                                             <div class="pcs-template-body">
                                               
                                                <p style="width:80px;height:25px;font-size:10px;" class="btn btn-outline-success" >STATUS</p>
                                             
                                             
                                                
                                               
                                                <div style="display:table;width:100%;">
                                                    <div  class="text-align-left pcs-journal-header-section" style="background-color:rgba(0,0,0,.5);">
                                                        <div>
                                                           
                                                        </div>
                                                        <img src="/media/images/default.png" style="width:30px;">
                                                        <span class="pcs-orgname"><b style="font-size:10px;">abc</b></span><br>
                                                        <span class="pcs-label">
                                                        <span style="white-space: pre-wrap;" id="tmp_org_address">address</span>
                                                        </span>
                                                    </div>
                                                   
                                                </div>
                                                <table style="width:100%;margin-top:30px;table-layout:fixed;">
                                                    <tbody><tr>
                                                        <td style="width:50%;vertical-align:bottom;word-wrap: break-word;">
                                                                <div style="padding-bottom: 5px;">
                                                                    <label style="font-size: 10px;" id="notes_label" class="pcs-label">NOTES</label>
                                                                    <br>
                                                                    <span style="color:black;" id="notes">{{ a.notes }}</span>
                                                                </div>
                                                        </td>
                                                        <td align="right" style="vertical-align:bottom;width: 50%;">
                                                            <table style="float:right;width: 100%;table-layout: fixed;word-wrap: break-word;" border="0" cellspacing="0" cellpadding="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="font-size:;" class="text-align-right">
                                                                            <span class="pcs-label">Journal No:</span>
                                                                        </td>
                                                                        <td class="text-align-right">
                                                                            <span >{{ a.mj_no }}</span>
                                                                        </td>
                                                                    </tr>
                                                                        <tr>
                                                                            <td style="font-size:10px;" class="text-align-right">
                                                                                <span class="pcs-label">Date:</span>
                                                                            </td>
                                                                            <td class="text-align-right">
                                                                                <span >{{ a.date }}</span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="font-size:10px;" class="text-align-right">
                                                                                <span class="pcs-label">Amount:</span>
                                                                            </td>
                                                                            <td class="text-align-right">
                                                                                <span >₹{{ a.debit1 }}.00</span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="font-size: 10px;" class="text-align-right">
                                                                                <span class="pcs-label">Reference No:</span>
                                                                            </td>
                                                                            <td class="text-align-right">
                                                                                <span id="tmp_ref_number">{{ a.ref_no }}</span>
                                                                            </td>
                                                                        </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody></table><br>
                                            
                                                <table style="width:100%;margin-top:20px;table-layout:fixed;" border="0" cellspacing="0" cellpadding="0" class="pcs-itemtable">
                                                    <thead style="background-color:rgba(0,0,0,.4)">
                                                        <tr style="height:40px;">
                                                            <td style="" class="table-head">
                                                                 ACCOUNT
                                                            </td>
                                                            <td style="width: 30%;" class="table-head">
                                                                CONTACT
                                                            </td>
                                                            <td align="right" style="width: 15%;" class="table-head">
                                                                DEBITS
                                                            </td>
                                                            <td align="right" style="width: 17%;" class="table-head">
                                                                CREDITS
                                                            </td>
                                                        </tr>
                                            
                                                    </thead>
                                                    <tbody>
                                                            <tr style="border-bottom:1px solid #ededed" class="breakrow-inside breakrow-after">
                                            
                                                                    <td  style=" font-size:10px;" class="pcs-item-row">
                                                                      ACCOUNT 1
                                                                        <p style="color: grey;"> </p>
                                                                        <p style="margin-bottom: 0px;color: grey; word-wrap: break-word;"></p>
                                                                    </td>
                                            
                                                                    <td  style="font-size:10px;" class="pcs-item-row">
                                                                      Contact 1
                                                                    </td>
                                            
                                                                <td style="font-size:10px;" class="table-head">
                                                                    ₹{{ a.debit1 }}.00
                                                                </td>
                                                                <td  style="font-size:10px;" class="table-head">
                                                                    ₹{{ a.credit1 }}.00
                                                                </td>
                                                            </tr>
                                                            <tr style="border-bottom:1px solid #ededed" class="breakrow-inside breakrow-after">
                                                                <td  style=" font-size:10px;" class="pcs-item-row">
                                                                    ACCOUNT 1
                                                                      <p style="color: grey;"> </p>
                                                                      <p style="margin-bottom: 0px;color: grey; word-wrap: break-word;"></p>
                                                                  </td>
                                          
                                                                  <td  style="font-size:10px;" class="pcs-item-row">
                                                                    Contact 1
                                                                  </td>
                                          
                                                              <td style="font-size:10px;" class="table-head">
                                                                  ₹{{ a.debit1 }}.00
                                                              </td>
                                                              <td  style="font-size:10px;" class="table-head">
                                                                  ₹{{ a.credit1 }}.00
                                                              </td>
                                                            </tr>
                                                            <tr></tr>
                                                            <tr style="width: 100%;margin-top: 1px;"  >
                                                                <td colspan="2" class="table-head" style="font-size:11px;">Sub Total</td>
                                                                <td class="pcs-total-section-value text-align-center" >₹{{ a.s_totaldeb }}.00</td>
                                                                <td class="pcs-total-section-value text-align-right">₹{{ a.s_totalcre }}.00</td>
                                                            </tr>
                                                                <tr  style="height:40px;" class="pcs-balance">
                                                                    <td colspan="2"  style="padding:5px 10px 5px 0;font-size:12px;"><b>Total</b></td>
                                                                    <td style="font-size:11px;"><b>₹{{ a.total_deb }}.00</b></td>
                                                                    <td style="font-size:12px;"><b>₹{{ a.total_cre }}.00</b></td>
                                                                </tr>
                                                    </tbody>
                                                </table>
                                            
                                                
                                                    
                                                    
                                                </div>
                                            </div>
                    </div>
                    <br>
                    
  

                </a>
              <h5 class="card-text text-center" style="padding:5px;">Standard Template</h5>
             
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>
</div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            
            <div class="radius-15  print-content" style="margin-bottom: 50px;width:A4;height:fit-content;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                        <div id="GFG" >
                            <div class="rectangle"
                                 style="color:black; background-color: white;width: 100%;height:450px;border: 3px white;padding: 20px;">
                              
        
                                 <div class="pcs-template-body">
                                   
                                    <p style="width:80px;height:25px;font-size:12px;" class="btn btn-outline-success" >STATUS</p>
                                 
                                 
                                    
                                   
                                    <div style="display:table;width:100%;">
                                        <div  class="text-align-left pcs-journal-header-section" style="background-color:rgba(0,0,0,.5);">
                                            <div>
                                               
                                            </div>
                                            <img src="/media/images/default.png" style="width:30px;">
                                            <span class="pcs-orgname"><b style="font-size:12px;">abc</b></span><br>
                                            <span class="pcs-label">
                                            <span style="white-space: pre-wrap;" id="tmp_org_address">address</span>
                                            </span>
                                        </div>
                                       
                                    </div>
                                    <table style="width:100%;margin-top:30px;table-layout:fixed;">
                                        <tbody><tr>
                                            <td style="width:50%;vertical-align:bottom;word-wrap: break-word;">
                                                    <div style="padding-bottom: 5px;">
                                                        <label style="font-size: 12px;" id="notes_label" class="pcs-label">NOTES</label>
                                                        <br>
                                                        <span style="color:black;" id="notes">{{ a.notes }}</span>
                                                    </div>
                                            </td>
                                            <td align="right" style="vertical-align:bottom;width: 50%;">
                                                <table style="float:right;width: 100%;table-layout: fixed;word-wrap: break-word;" border="0" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size:12px;" class="text-align-right">
                                                                <span class="pcs-label">Journal No:</span>
                                                            </td>
                                                            <td class="text-align-right">
                                                                <span >{{ a.mj_no }}</span>
                                                            </td>
                                                        </tr>
                                                            <tr>
                                                                <td style="font-size:12px;" class="text-align-right">
                                                                    <span class="pcs-label">Date:</span>
                                                                </td>
                                                                <td class="text-align-right">
                                                                    <span >{{ a.date }}</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size:12px;" class="text-align-right">
                                                                    <span class="pcs-label">Amount:</span>
                                                                </td>
                                                                <td class="text-align-right">
                                                                    <span >₹{{ a.debit1 }}.00</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size: 12px;" class="text-align-right">
                                                                    <span class="pcs-label">Reference No:</span>
                                                                </td>
                                                                <td class="text-align-right">
                                                                    <span id="tmp_ref_number">{{ a.ref_no }}</span>
                                                                </td>
                                                            </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody></table><br>
                                
                                    <table style="width:100%;margin-top:20px;table-layout:fixed;font-size:12px;" border="0" cellspacing="0" cellpadding="0" class="pcs-itemtable">
                                        <thead style="background-color:rgba(0,0,0,.4)">
                                            <tr style="height:40px;">
                                                <td style="" class="table-head">
                                                     ACCOUNT
                                                </td>
                                                <td style="width: 30%;" class="table-head">
                                                    CONTACT
                                                </td>
                                                <td align="right" style="width: 15%;" class="table-head">
                                                    DEBITS
                                                </td>
                                                <td align="right" style="width: 17%;" class="table-head">
                                                    CREDITS
                                                </td>
                                            </tr>
                                
                                        </thead>
                                        <tbody>
                                                <tr style="border-bottom:1px solid #ededed" class="breakrow-inside breakrow-after">
                                
                                                        <td  style=" font-size:12px;" class="pcs-item-row">
                                                          ACCOUNT 1
                                                            <p style="color: grey;"> </p>
                                                            <p style="margin-bottom: 0px;color: grey; word-wrap: break-word;"></p>
                                                        </td>
                                
                                                        <td  style="font-size:12px;" class="pcs-item-row">
                                                          Contact 1
                                                        </td>
                                
                                                    <td style="font-size:12px;" class="table-head">
                                                        ₹{{ a.debit1 }}.00
                                                    </td>
                                                    <td  style="font-size:12px;" class="table-head">
                                                        ₹{{ a.credit1 }}.00
                                                    </td>
                                                </tr>
                                                <tr style="border-bottom:1px solid #ededed" class="breakrow-inside breakrow-after">
                                                    <td  style=" font-size:12px;" class="pcs-item-row">
                                                        ACCOUNT 1
                                                          <p style="color: grey;"> </p>
                                                          <p style="margin-bottom: 0px;color: grey; word-wrap: break-word;"></p>
                                                      </td>
                              
                                                      <td  style="font-size:12px;" class="pcs-item-row">
                                                        Contact 1
                                                      </td>
                              
                                                  <td style="font-size:12px;" class="table-head">
                                                      ₹{{ a.debit1 }}.00
                                                  </td>
                                                  <td  style="font-size:12px;" class="table-head">
                                                      ₹{{ a.credit1 }}.00
                                                  </td>
                                                </tr>
                                                <tr></tr>
                                                <tr style="width: 100%;margin-top: 1px;"  >
                                                    <td colspan="2" class="table-head" style="font-size:13px;">Sub Total</td>
                                                    <td class="pcs-total-section-value text-align-center" >₹{{ a.s_totaldeb }}.00</td>
                                                    <td class="pcs-total-section-value text-align-right">₹{{ a.s_totalcre }}.00</td>
                                                </tr>
                                                    <tr  style="height:40px;" class="pcs-balance">
                                                        <td colspan="2"  style="padding:5px 10px 5px 0;font-size:14px;"><b>Total</b></td>
                                                        <td style="font-size:13px;"><b>₹{{ a.total_deb }}.00</b></td>
                                                        <td style="font-size:15px;"><b>₹{{ a.total_cre }}.00</b></td>
                                                    </tr>
                                        </tbody>
                                    </table>
                                
                                    
                                        
                                        
                                    </div>
                                </div>
        </div>
    </div>
</div>
        

            


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Print</button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>

{% endblock %}