{% extends 'app1/base.html' %}

{% block body %}

<style>

  @page {
    bleed: 1cm;
    size: A4 portrait;
    size:  auto;   /* auto is the initial value */
    margin-bottom: 50pt;
    margin-top: 0cm;
    font-size: 12pt;
  
    #content, #page {
    width: 100%;
    margin: 0;
    float: none;
    }
  }
  
  
  @media print {
    .page {
      border: initial;
      border-radius: initial;
      width: initial;
      min-height: initial;
      box-shadow: initial;
      background: initial;
      page-break-after: always;
    }
  
   
  
  }
 
.modal-dialog { /* Width */
    width:A4;
    height:A4;
    width: auto !important;
    display: inline-block;
}
.modal {
    z-index: -1;
    width:A4;
    height:A4;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  
  .modal-open .modal {
     z-index: 1050;
  }
.hr{
    border-bottom:1px solid black;
}
.tabletop{
    color:black;
    font-size:9px;
}
.pcs-label{
    font-size:8px;
}


  
</style>

<div class="page-content">
<div class="card radius-15 h-20">
  <div class="row">
      <div class="col-md-12">
          <center><h2 class="mt-3">DELIVERY CHALLAN TEMPLATES</h2></center>
          
          <hr style="width:95%">
      </div>
  </div>
</div>

  <div class="py-5">
    <div class="container">
      <div class="row hidden-md-up">
        <div class="col-md-4">
          <div class="card" size="A4">
            <div class="card-block">
              <div class="card-body">
                <a data-toggle="modal" href="#MyModal">
                    <div class="pcs-template-body" style="background-color:white;radius:5px;">
                        <table class="tabletop hr" style="width:100%;table-layout: fixed;">
                          <tbody>
                            <tr>
                              <td style="vertical-align: top; width:50%;">
                                <div>
                               </div>
                               <span><b>abc</b></span><br>
                               <span class="pcs-label">
                                 <span style="white-space: pre-wrap;word-wrap: break-word;" id="tmp_org_address">India</span>
                               </span>
                              </td>
                    
                              <td style="vertical-align: top; text-align:right;width:50%;">
                                
                                <span style="text-transform:Uppercase;"><b>Delivery Challan</b></span><br>
                               <span  class="pcs-label"><b>Delivery Challan# INV-17</b></span>
                              </td>
                            </tr>
                          </tbody>
                         </table>
                    
                    
                         <table style="width:100%;table-layout:fixed;color:black;font-size:8px;">
                             <tbody><tr>
                             <td style="width:50%;vertical-align:bottom;">
                             <div style="clear:both;width:50%;margin-top: 20px;">
                                 <label style="font-size: 9px;" class="pcs-label" id="tmp_shipping_address_label">Deliver To</label>
                                <br>
                                <span><strong><span class="pcs-customer-name" id="zb-pdf-customer-detail">Rob &amp; Joe Traders</span></strong>
                    34, Riche Street
                    Chennai
                    631603 Tamil Nadu
                    India</span>
                             </div>
                    
                             </td>
                             <td align="right" style="vertical-align:bottom;width: 50%;">
                                 <table style="float:right;table-layout: fixed;word-wrap: break-word;width: 100%;" border="0" cellspacing="0" cellpadding="0">
                                     <tbody>
                    
                                         <tr>
                                             <td style="text-align:right;padding:5px 10px 5px 0px;font-size:8pt;">
                                                <span class="pcs-label">Challan Date :</span>
                                            </td>
                                            <td style="text-align:right;">
                                                <span id="tmp_entity_date">06/10/2022</span>
                                            </td>
                                        </tr>
                                        <tr>
                                             <td style="text-align:right;padding:5px 10px 5px 0px;font-size: 8pt;">
                                                <span class="pcs-label">Ref# :</span>
                                          </td>
                                          <td style="text-align:right;">
                                              <span id="tmp_ref_number">SO-17</span>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td style="text-align:right;padding:5px 10px 5px 0px;font-size: 8pt;">
                                            <span class="pcs-label">Challan Type :</span>
                                          </td>
                                          <td style="text-align:right;">
                                            <span>Supply on Approval</span>
                                          </td>
                                        </tr>
                    
                    
                    
                                     </tbody>
                                  </table>
                             </td>
                             </tr>
                         </tbody></table>
                    
                    
                      <table style="width:100%;margin-top:20px;table-layout:fixed;color:black;font-size:8px;" class="pcs-itemtable" border="0" cellspacing="0" cellpadding="0">
                        <thead >
                            <tr style="background-color:black;color:white;">
                                    <td style="width: 5%;text-align: center;" id="" class="pcs-itemtable-header pcs-itemtable-breakword">
                          #
                        </td>
                        <td style="width:28% ;text-align: left;" id="" class="pcs-itemtable-header pcs-itemtable-breakword">
                          Item &amp; Description
                        </td>
                        <td style="width: 16%;text-align: right;" id="" class="pcs-itemtable-header pcs-itemtable-breakword">
                          Qty
                        </td>
                        <td style="width: 16%;text-align: right;" id="" class="pcs-itemtable-header pcs-itemtable-breakword">
                          Rate
                        </td>
                        <td style="width: 18%;text-align: right;" id="" class="pcs-itemtable-header pcs-itemtable-breakword">
                          Discount
                        </td>
                        <td style="width: 17%;text-align: right;" id="" class="pcs-itemtable-header pcs-itemtable-breakword">
                          Amount
                        </td>
                    
                            </tr>
                         </thead>
                         <tbody class="itemBody">
                                <tr class="breakrow-inside breakrow-after">
                                <td valign="top" style="text-align: center;word-wrap: break-word;">
                                1
                                </td>
                                <td valign="top" >
                                <div> <span style="word-wrap: break-word;" id="tmp_item_name">item 1</span><br></div>
                                </div>
                                </td>
                                <td valign="top" style="text-align:right;word-wrap: break-word;" >
                                <span id="tmp_item_qty">1.00</span>
                                </td>
                    
                                <td valign="top" style="text-align:right;word-wrap: break-word;" >
                                <span >300.00</span>
                                </td>
                                <td valign="top" style="text-align:right;word-wrap: break-word;" >0.00
                                </td>
                    
                                <td valign="top" style="text-align:right;word-wrap: break-word;" >
                                  <span >300.00</span>
                                </td>
                              </tr>
                              <tr class="breakrow-inside breakrow-after">
                                <td valign="top" style="text-align: center;word-wrap: break-word;">
                                1
                                </td>
                                <td valign="top" >
                                <div> <span style="word-wrap: break-word;" id="tmp_item_name">item 1</span><br></div>
                                </div>
                                </td>
                                <td valign="top" style="text-align:right;word-wrap: break-word;" >
                                <span id="tmp_item_qty">1.00</span>
                                </td>
                    
                                <td valign="top" style="text-align:right;word-wrap: break-word;" >
                                <span >300.00</span>
                                </td>
                                <td valign="top" style="text-align:right;word-wrap: break-word;" >0.00
                                </td>
                    
                                <td valign="top" style="text-align:right;word-wrap: break-word;" >
                                  <span >300.00</span>
                                </td>
                              </tr>
                              <tr class="breakrow-inside breakrow-after">
                                <td valign="top" style="text-align: center;word-wrap: break-word;">
                                1
                                </td>
                                <td valign="top" >
                                <div> <span style="word-wrap: break-word;" id="tmp_item_name">item 1</span><br></div>
                                </div>
                                </td>
                                <td valign="top" style="text-align:right;word-wrap: break-word;" >
                                <span id="tmp_item_qty">1.00</span>
                                </td>
                    
                                <td valign="top" style="text-align:right;word-wrap: break-word;" >
                                <span >300.00</span>
                                </td>
                                <td valign="top" style="text-align:right;word-wrap: break-word;" >0.00
                                </td>
                    
                                <td valign="top" style="text-align:right;word-wrap: break-word;" >
                                  <span >300.00</span>
                                </td>
                              </tr>
                        </tbody>
                        </table>
                       <div style="width: 100%;margin-top: 1px;color:black;font-size:8px;">
                        <div style="width: 40%;padding: 3px 10px 3px 3px;font-size: 8px;float: left;">
                          <div style="white-space: pre-wrap;"></div>
                        </div>
                        <div style="width: 60%;float:right;">
                          <table  cellspacing="0" border="0" width="100%">
                            <tbody>
                              <tr>
                                    <td  align="right" style="padding: 5px 10px 5px 0;">Sub Total</td>
                                    <td valign="middle" align="right" >630.00</td>
                              </tr>
                    
                    
                    
                              <tr >
                                <td  >Sample Tax1</td>
                                <td valign="middle" align="right" >11.75</td>
                              </tr>
                            
                              <tr style="height:10px;" >
                                <td ><b>Total</b></td>
                                <td id="tmp_total" valign="middle" align="right"><b>₹662.75</b></td>               </tr>
                            </tbody>
                          </table>
                        </div>
                        <div style="clear: both;"></div>
                      </div>
                    
                     <div style="width: 100%;margin-top: 10px;color:black;font-size:8px;">
                      <table cellspacing="0" border="0" width="100%">
                        <tbody>
                          <tr>
                            <td class="total-in-words-label text-align-right">Total In Words:</td>
                            <td class="total-in-words-value text-align-left"><i><b>Indian Rupee Six Hundred Sixty-Two and Seventy-Five Paise Only</b></i></td>
                          </tr>
                        </tbody>
                      </table>
                    <div style="clear: both;"></div>
                    </div>
                    
                      <div style="clear:both;margin-top:30px;width:100%;font-size:8px;color:black;">
                      <label class="pcs-label">Terms &amp; Conditions</label><br>
                      <p style="margin-top:7px;white-space: pre-wrap;word-wrap: break-word;" class="pcs-terms">Your company's Terms and Conditions will be displayed here. You can add it in the DeliveryChallan Preferences page under Settings.</p>
                      </div>
                          <div style="margin-top:30px;font-size:8px;color:black;">
                            <label style="display: table-cell;padding-right: 5px;" class="pcs-label">Authorized Signature</label>
                              <div style="display: table-cell;">
                                  <div style="display: inline-block;width: 200px;border-bottom: 1px solid #000;"></div>
                                  <div></div>
                              </div>
                          </div>
                        
                        </div>
              </a>
              </div>
            </div>
          </div>
              <h5 class="card-text text-center" style="padding:5px;">Standard Template</h5>
             
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>
</div>
<!-- modal -->
<div  >

<div  id="MyModal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  
  <div class="modal-dialog " >
    
  
      
    <!-- Modal Content: begins -->
    <div class="modal-content" >
    
      <!-- Modal Body -->  
      <div class="modal-body" id="printThis">
        <div class="pcs-template-body" style="background-color:white;radius:5px;">
            <table class="tabletop hr" style="width:100%;table-layout: fixed;">
              <tbody>
                <tr>
                  <td style="vertical-align: top; width:50%;">
                    <div>
                   </div>
                   <span style="font-size:15px;"><b>abc</b></span><br>
                   <span class="pcs-label">
                     <span style="white-space: pre-wrap;word-wrap: break-word;font-size:12px;" id="tmp_org_address">India</span>
                   </span>
                  </td>
        
                  <td style="vertical-align: top; text-align:right;width:50%;">
                    
                    <span style="text-transform:Uppercase;font-size:12px;"><b>Delivery Challan</b></span><br>
                   <span style="font-size:12px;" class="pcs-label"><b>Delivery Challan# INV-17</b></span>
                  </td>
                </tr>
              </tbody>
             </table>
        
        
             <table style="width:100%;table-layout:fixed;color:black;font-size:12px;">
                 <tbody><tr>
                 <td style="width:50%;vertical-align:bottom;">
                 <div style="clear:both;width:50%;margin-top: 20px;">
                     <label style="font-size: 13px;" class="pcs-label" id="tmp_shipping_address_label">Deliver To</label>
                    <br>
                    <span><strong><span class="pcs-customer-name" id="zb-pdf-customer-detail">Rob &amp; Joe Traders</span></strong>
        34, Riche Street
        Chennai
        631603 Tamil Nadu
        India</span>
                 </div>
        
                 </td>
                 <td align="right" style="vertical-align:bottom;width: 50%;">
                     <table style="float:right;table-layout: fixed;word-wrap: break-word;width: 100%;" border="0" cellspacing="0" cellpadding="0">
                         <tbody>
        
                             <tr>
                                 <td style="text-align:right;padding:5px 10px 5px 0px;font-size:12pt;">
                                    <span style="font-size:12px;" class="pcs-label">Challan Date :</span>
                                </td>
                                <td style="text-align:right;">
                                    <span style="font-size:12px;" id="tmp_entity_date">06/10/2022</span>
                                </td>
                            </tr>
                            <tr>
                                 <td style="text-align:right;padding:5px 10px 5px 0px;font-size: 12pt;">
                                    <span style="font-size:12px;" class="pcs-label">Ref# :</span>
                              </td>
                              <td style="text-align:right;">
                                  <span style="font-size:12px;" id="tmp_ref_number">SO-17</span>
                              </td>
                            </tr>
                            <tr>
                              <td style="text-align:right;padding:5px 10px 5px 0px;font-size: 12pt;">
                                <span style="font-size:12px;" class="pcs-label">Challan Type :</span>
                              </td>
                              <td style="text-align:right;">
                                <span style="font-size:12px;">Supply on Approval</span>
                              </td>
                            </tr>
        
        
        
                         </tbody>
                      </table>
                 </td>
                 </tr>
             </tbody></table>
        
        
          <table style="width:100%;margin-top:20px;table-layout:fixed;color:black;font-size:12px;" class="pcs-itemtable" border="0" cellspacing="0" cellpadding="0">
            <thead >
                <tr style="background-color:black;color:white;">
                        <td style="width: 5%;text-align: center;" id="" class="pcs-itemtable-header pcs-itemtable-breakword">
              #
            </td>
            <td style="width:28% ;text-align: left;" id="" class="pcs-itemtable-header pcs-itemtable-breakword">
              Item &amp; Description
            </td>
            <td style="width: 16%;text-align: right;" id="" class="pcs-itemtable-header pcs-itemtable-breakword">
              Qty
            </td>
            <td style="width: 16%;text-align: right;" id="" class="pcs-itemtable-header pcs-itemtable-breakword">
              Rate
            </td>
            <td style="width: 18%;text-align: right;" id="" class="pcs-itemtable-header pcs-itemtable-breakword">
              Discount
            </td>
            <td style="width: 17%;text-align: right;" id="" class="pcs-itemtable-header pcs-itemtable-breakword">
              Amount
            </td>
        
                </tr>
             </thead>
             <tbody class="itemBody">
                    <tr class="breakrow-inside breakrow-after">
                    <td valign="top" style="text-align: center;word-wrap: break-word;">
                    1
                    </td>
                    <td valign="top" >
                    <div> <span style="word-wrap: break-word;" id="tmp_item_name">item 1</span><br></div>
                    </div>
                    </td>
                    <td valign="top" style="text-align:right;word-wrap: break-word;" >
                    <span id="tmp_item_qty">1.00</span>
                    </td>
        
                    <td valign="top" style="text-align:right;word-wrap: break-word;" >
                    <span >300.00</span>
                    </td>
                    <td valign="top" style="text-align:right;word-wrap: break-word;" >0.00
                    </td>
        
                    <td valign="top" style="text-align:right;word-wrap: break-word;" >
                      <span >300.00</span>
                    </td>
                  </tr>
                  <tr class="breakrow-inside breakrow-after">
                    <td valign="top" style="text-align: center;word-wrap: break-word;">
                    1
                    </td>
                    <td valign="top" >
                    <div> <span style="word-wrap: break-word;" id="tmp_item_name">item 1</span><br></div>
                    </div>
                    </td>
                    <td valign="top" style="text-align:right;word-wrap: break-word;" >
                    <span id="tmp_item_qty">1.00</span>
                    </td>
        
                    <td valign="top" style="text-align:right;word-wrap: break-word;" >
                    <span >300.00</span>
                    </td>
                    <td valign="top" style="text-align:right;word-wrap: break-word;" >0.00
                    </td>
        
                    <td valign="top" style="text-align:right;word-wrap: break-word;" >
                      <span >300.00</span>
                    </td>
                  </tr>
                  <tr class="breakrow-inside breakrow-after">
                    <td valign="top" style="text-align: center;word-wrap: break-word;">
                    1
                    </td>
                    <td valign="top" >
                    <div> <span style="word-wrap: break-word;" id="tmp_item_name">item 1</span><br></div>
                    </div>
                    </td>
                    <td valign="top" style="text-align:right;word-wrap: break-word;" >
                    <span id="tmp_item_qty">1.00</span>
                    </td>
        
                    <td valign="top" style="text-align:right;word-wrap: break-word;" >
                    <span >300.00</span>
                    </td>
                    <td valign="top" style="text-align:right;word-wrap: break-word;" >0.00
                    </td>
        
                    <td valign="top" style="text-align:right;word-wrap: break-word;" >
                      <span >300.00</span>
                    </td>
                  </tr>
            </tbody>
            </table>
           <div style="width: 100%;margin-top: 1px;color:black;font-size:12px;">
            <div style="width: 40%;padding: 3px 10px 3px 3px;font-size: 12px;float: left;">
              <div style="white-space: pre-wrap;"></div>
            </div>
            <div style="width: 60%;float:right;">
              <table  cellspacing="0" border="0" width="100%">
                <tbody>
                  <tr>
                        <td  align="right" style="padding: 5px 10px 5px 0;">Sub Total</td>
                        <td valign="middle" align="right" >630.00</td>
                  </tr>
        
        
        
                  <tr >
                    <td  >Sample Tax1</td>
                    <td valign="middle" align="right" >11.75</td>
                  </tr>
                
                  <tr style="height:10px;" >
                    <td ><b>Total</b></td>
                    <td id="tmp_total" valign="middle" align="right"><b>₹662.75</b></td>               </tr>
                </tbody>
              </table>
            </div>
            <div style="clear: both;"></div>
          </div>
        
         <div style="width: 100%;margin-top: 10px;color:black;font-size:12px;">
          <table cellspacing="0" border="0" width="100%">
            <tbody>
              <tr>
                <td class="total-in-words-label text-align-right">Total In Words:</td>
                <td class="total-in-words-value text-align-left"><i><b>Indian Rupee Six Hundred Sixty-Two and Seventy-Five Paise Only</b></i></td>
              </tr>
            </tbody>
          </table>
        <div style="clear: both;"></div>
        </div>
        
          <div style="clear:both;margin-top:30px;width:100%;font-size:12px;color:black;">
          <label style="font-size:13px;">Terms &amp; Conditions</label><br>
          <p style="margin-top:7px;white-space: pre-wrap;word-wrap: break-word;" class="pcs-terms">Your company's Terms and Conditions will be displayed here. You can add it in the DeliveryChallan Preferences page under Settings.</p>
          </div>
              <div style="margin-top:30px;font-size:12px;color:black;">
                <label style="display: table-cell;padding-right: 5px;font-size:13px;" class="pcs-label">Authorized Signature</label>
                  <div style="display: table-cell;">
                      <div style="display: inline-block;width: 200px;border-bottom: 1px solid #000;"></div>
                      <div></div>
                  </div>
              </div>
            
            </div>
    
      <!-- Modal Footer -->
      <div class="modal-footer">
       <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button id="btnPrint" type="button" class="btn btn-default">Print</button>
      </div>
    
    </div>
  </div>
</div></div>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>



{% endblock %}