{% extends 'app1/base.html' %}
{% block body %}
{% load social_share %}
    {% load static %}
    {% if user.is_authenticated %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js" ></script>
   
    <style>
        #div1{
            width: 33.33%;
            float: left;
            height: 100px;
            text-align: left;
        }
        #div2{
            /* background-color: rgb(204, 0, 255); */
            width: 33.33%;
            margin: auto;
            height: 100px;
            text-align: left;
        }
        #div3{
            /* background-color: rgb(255, 162, 0); */
            width: 33.33%;
            float: right;
            margin-top: -100px;
            height: 100px;    
        }
        .ribbon .ribbon-inner {
            text-align: center;
            color: #fff;
            top: -20px;
            left: -90px;
            width: 120px;
            padding: 3px;
            /* position: relative;
            transform: rotate(-45deg); */
        }
        .ribbon .ribbon-open {
            background-color: #268ddd;
            border-color: #1c72b4;
        }
        :root {
            --body-bg: rgb(204, 204, 204);
            --white: #ffffff;
            --darkWhite: #ccc;
            --black: #000000;
            --dark: #615c60;
            --themeColor: #22b8d1;
            --pageShadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
        }
        /* Font Include */
        @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
        body {
            background-color: var(--body-bg);
        }
        .page {
            background: var(--white);
            display: block;
            margin: 0 auto;
            position: relative;
            box-shadow: var(--pageShadow);
        }
        .page[size="A4"] {
            width: 21cm;
            height: 29.7cm;
            overflow: hidden;
        }
        .bb {
            border-bottom: 3px solid var(--darkWhite);
        }
        .top-content {
            padding-bottom: 15px;
        }
        .logo img {
            height: 60px;
        }
        .top-left p {
            margin: 0;
            color: #000000;
        }
        .top-left .graphic-path {
            height: 40px;
            position: relative;
        }
        .top-left .graphic-path::before {
            content: "";
            height: 20px;
            background-color: var(--dark);
            position: absolute;
            left: 15px;
            right: 0;
            top: -15px;
            z-index: 2;
        }
        .top-left .graphic-path::after {
            content: "";
            height: 22px;
            width: 17px;
            background: var(--black);
            position: absolute;
            top: -13px;
            left: 6px;
            transform: rotate(45deg);
        }
        .top-left .graphic-path p {
            /* color: var(--white); */
            height: 40px;
            left: 0;
            right: -100px;
            text-transform: uppercase;
            background-color: var(--themeColor);
            font: 26px;
            z-index: 3;
            position: absolute;
            padding-left: 10px;
        }
        .store-user {
            padding-bottom: 25px;
        }
        .store-user p {
            margin: 0;
            font-weight: 600;
            color: #000000;
        }
        .store-user .address {
            font-weight: 400;
        }
        .store-user h5 {
            color: var(--themeColor);
            font-family: 'Rajdhani', sans-serif;
        }
        .extra-info p span {
            font-weight: 400;
        
        }
        thead {
            color: var(--white);
            background: var(--themeColor);
        }
        .table td,
        .table th {
            text-align: center;
            vertical-align: middle;
        }
        tr th:first-child,
        tr td:first-child {
            text-align: left;
        }
        .media img {
            height: 60px;
            width: 60px;
        }
        .media p {
            font-weight: 400;
            margin: 0;
            /* color: #000000; */
        }
        .media p.title {
            font-weight: 600;    
        }
        .balance-info .table td,
        .balance-info .table th {
            padding: 0;
            border: 0;
        }
        .balance-info tr td:first-child {
            font-weight: 600;
        }
        tfoot {
            border-top: 2px solid var(--darkWhite);
        }
        tfoot td {
            font-weight: 600;
        }
        .cart-bg {
            height: 250px;
            bottom: 32px;
            left: -40px;
            opacity: 0.3;
            position: absolute;
        }
        footer {
            text-align: center;
            position: absolute;
            bottom: 30px;
            left: 75px;
        }
        footer hr {
            margin-bottom: -22px;
            border-top: 3px solid var(--darkWhite);
        }
        footer a {
            color: var(--themeColor);
        }
        footer p {
            padding: 6px;
            border: 3px solid var(--darkWhite);
            background-color: var(--white);
            display: inline-block;
            color: #000000;
        }
        table.table-bordered{
            color: 1px solid #000;
        }
        #sign{
            border: none;
            border-bottom: 2px solid #000;
        }
        hr {
            border: 0;
            clear:both;
            display:block;
            width: 96%;               
            background-color:#000000;
            height: 1px;
        }
    </style>

    <script>
        async function generatePDF() {
            var downloading = document.getElementById("whatToPrint");
            var doc = new jsPDF('l', 'pt');

            await html2canvas(downloading, {  
            }).then((canvas) => {
                doc.addImage(canvas.toDataURL("image/png"), 'PNG', 15, 10, 700, 850);
            })
            doc.save("Document.pdf");
        } 
    </script>

    <div class="page-content" >
        <div class="card radius-15">
            <div class="card-body">
                <div class="card-title">
                    <center><h2 class="mb-0">BILL VIEW</h2></center>
                    <hr>
                    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgba(0,0,0,.01);">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarScroll">
                            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                              <li class="nav-item active" >
                                <a class="nav-link text-light btn" role="button" onclick="window.print()"><i class="fa fa-print">Print</i><span class="sr-only">(current)</span></a>
                              </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light btn" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-share-alt">Share</i> 
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item fa fa-email">&nbsp;{% send_email object.title "New:{{object.title}}" object_or_url "Email" %}</a>
                                        <a class="dropdown-item" href="">&nbsp;{% post_to_whatsapp object_or_url "Whatsapp" %}</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light btn" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-exchange">Convert</i>
                                    </a>
                                    {% if pbill.status == "Draft"  %}
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="{% url 'billconvert' pbill.billid %}">
                                                <i class="fas fa-receipt">To Bill</i>
                                            </a>
                                        </div>
                                    {% endif %}
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light btn" role="button" href="{%url 'render_pdfbill_view' pbill.billid %}">
                                        <i class="fa fa-file-pdf-o">Pdf</i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light btn" role="button" href="goeditbill/{{ pbill.billid }}{{ bitem.bill }}"><i class=" fa fa-pencil">Edit</i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light btn" role="button" href="deletebill/{{ pbill.billid }}{{ bitem.id }}"><i class="fa fa-trash-o delete">Delete</i></a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light btn" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-file">File</i>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#file"><i class="fa fa-paperclip">&nbsp;Attach File</i></a>
                                        {% if pbill.file != "default.png" %}
                                            <a class="dropdown-item" download  href="{{pbill.file.url }}"><i class="fa fa-download">&nbsp;Download File</i></a>
                                        {% endif %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    
        <div  id="whatToPrint">
                <div class="my-5 page" size="A4" >
                    <div class="p-5">
                        <div id="ember2512" class="tooltip-container ember-view ribbon text-ellipsis">
                            <div class="ribbon-inner ribbon-open">{{pbill.status}}<!----></div></div>
                        <section class="top-content bb d-flex justify-content-between">
                            <div class="logo">
                                <!-- <img src="logo.png" alt="" class="img-fluid"> -->
                            </div>
                            <div class="top-left">
                                <div class="graphic-path">
                                    <p>Bill</p>
                                </div>
                                <div class="position-relative">
                                    <p> Bill NO : <span>{{pbill.bill_no }}</span></p>
                                </div>
                            </div>
                        </section>
            
                        <section class="store-user mt-5">
                            <div class="col-12">
                                <div class="row bb pb-3">
                                    <div class="col-7">
                                        <p>FROM,</p>
                                        <h5>{{pbill.vendor_name}}</h5>
                                        <p class="address col-6" style="margin-left: -14px;" > {{ pbill.billing_address}} </p> 
                                         
                                    </div>
                                    <div class="col-5">
                                        <p>TO,</p>
                                        <h5>{{cmp1.cname }}</h5>
                                        <p class="address "> {{cmp1.caddress}}<br>
                                            {{cmp1.city}},
                                            {{cmp1.state}}<br>
                                            {{cmp1.pincode}}<br>
                                            {{cmp1.email}}<br>
                                        </p>   
                                    </div>
                                </div>
                                <div class="row extra-info pt-3">
                                    <div class="col-7">
                                        <p>Deliver To Details: </p>
                                        <p>{{pbill.contact_name}}</p>
                                        <p class="address col-6" style="margin-left: -14px;"> {{ pbill.deliverto}} </p>   
                                    </div>
                                    <div class="col-5">
                                        <p>Date : <span>{{ pbill.date | date:'d-m-Y' }}</span></p>
                                        <p>Excpected Date : <span> {{ pbill.deliver_date | date:'d-m-Y' }}</span></p>
                                        <p>Total Quantity<span> {{ tot6.t2 }}</span></p>
                                    </div>
                                </div>
                            </div>
                        </section>
            
                        <section class="product-area mt-4">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <td>Items</td>
                                        <td>HSN Number</td>
                                        <td>Quantity</td>
                                        <td>Rate</td>
                                        <td>Tax</td>
                                        <td>Total</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pbill in bitem %}
                                        <tr>
                                            <td class="text-center" style="color:#000">{{ pbill.items }}</td>
                                            <td class="text-center" style="color:#000">{{ pbill.hsn }}</td>
                                            <td class="text-center" style="color:#000">{{ pbill.quantity }}</td>
                                            <td class="text-center" style="color:#000">{{ pbill.rate  }}</td>
                                            <td class="text-center" style="color:#000">{{ pbill.tax  }}</td>
                                            <td class="text-center" style="color:#000">{{ pbill.amount }}</td>
                                        </tr>
                                    {% endfor %} 
                                </tbody>
                            </table>
                        </section>
            
                        <section class="balance-info">
                            <div class="row">
                                <div class="col-8">
                                    <p class="m-0 font-weight-bold" style="color:black"> Note: </p>
                                    <p style="color:black">{{pbill.note}}</p>
                                </div>
                                <div class="col-4">
                                    <table class="table border-0 table-hover">
                                        <tr >
                                            <td style="color:black">Sub Total :</td>
                                            <td style="color:black">{{pbill.sub_total}}</td>
                                        </tr>
                                        {% if pbill.discount != "0.00" %}
                                        <tr>
                                            <td style="color:black">Discount</td>
                                            <td style="color:black">{{pbill.discount}}</td>
                                        </tr>
                                        {% endif %}
                                        {% if pbill.igst != "0" %}
                                        <tr>
                                            <td style="color:black">IGST :</td>
                                            <td style="color:black">{{pbill.igst}}</td>
                                        </tr>
                                        {% endif %}
                                        {% if pbill.cgst != "0" %}
                                        <tr>
                                            <td style="color:black">CGST :</td>
                                            <td style="color:black">{{pbill.cgst}}</td>
                                        </tr>
                                        {% endif %}
                                        {% if pbill.sgst != "0" %}
                                        <tr>
                                            <td style="color:black">SGST :</td>
                                            <td style="color:black">{{pbill.sgst}}</td>
                                        </tr>
                                        {% endif %}
                                        {% if pbill.tcs != "0.00" %}
                                        <tr style="display: none;">
                                            <td style="color:black">TCS:</td>
                                            <td style="color:black">{{pbill.tcs}}</td>
                                        </tr>
                                        {% endif %}
                                        <tfoot>
                                            <tr>
                                                <td style="color:black">Grand Total:</td>
                                                <td style="color:black ;">{{pbill.grand_total}}</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div> 
                            </div>
                            <div class="row container-fluid  p-2 m-0">
                                <div class="col-sm-3 m-0 p-0"><label style="color: #000;"><b>Authorized Signature</b></label></div>
                                <div class="col-sm-4 m-0 p-0"><input type="text" id="sign"></div>
                                <div class="col-sm-4 m-0 p-0"></div>
                            </div>
                        </section>
                        <img src="cart.jpg" class="img-fluid cart-bg" alt="">   
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="file" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="background-color: #213b52;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add File</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{% url 'bill_add_file' pbill.billid  %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <div class="modal-body">
                            <input type="file" class="form-control" name="file">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-info" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-outline-info">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <script type="text/javascript">
            $('.delete').click(function(e){
                var result = confirm("Are you sure you want to delete this record? If you delete this, not retrive");

                if(!result) {
                    e.preventDefault();
                }
            });
        </script>

    {% endif %}
    {% endblock %}