{% extends 'app1/base.html' %}
{% block body %}
{% load social_share %}
    {% load static %}
    {% if user.is_authenticated %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js" ></script>
   
    <style>
        body {
            background-color: var(--body-bg);
        }
        .page {
            background: var(--white);
            display: block;
            margin: 0 auto;
            position: relative;
            box-shadow: var(--pageShadow);
        }
        .page[size="A4"] {
            width: 21cm;
            height : 29.7cm;
            overflow: hidden;
        }
        hr {
            border: 0;
            clear:both;
            display:block;
            width: 96%;               
            background-color:#000000;
            height: 1px;
        }    
    </style>

    <div class="page-content" >
        <div class="card radius-15">
            <div class="card-body">
                <div class="card-title">
                    <center><h2 class="mb-0">PAYMENT VIEW</h2></center>
                    <hr>
                    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgba(0,0,0,.01);">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarScroll">
                            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                              <li class="nav-item active" >
                                <a class="nav-link text-light btn" role="button" onclick="printDiv()"><i class="fa fa-print">&nbsp;Print</i><span class="sr-only">(current)</span></a>
                              </li>
                                <!-- <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light btn btn-outline-info" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-share"></i> Share
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item">&nbsp;{% send_email object.title "New:{{object.title}}" object_or_url "Email" %}</a>
                                        <a class="dropdown-item" href="#">&nbsp;{% post_to_whatsapp object_or_url "Whatsapp" %}</a>
                                    </div>
                                </li> -->
                                <li class="nav-item">
                                    <a class="nav-link text-light btn" role="button" id="cmd">
                                        <i class="fa fa-file-pdf-o">&nbsp;Pdf</i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light btn" role="button" href="goeditpurchasepymnt/{{ paymt.pymntid }}{{ py.pymnt }}"><i class=" fa fa-pencil">&nbsp;Edit</i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light btn" role="button" href="deletepurchasepymnt/{{ paymt.pymntid }}{{ py.pymnt }}"><i class="fa fa-trash-o delete">&nbsp;Delete</i></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    
        <div  id="content">
                <div class="my-5 page" size="A4" >
                <div id="panel" style="background-color: #fff;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tb">
                    <tbody>
                        <tr>
                        <td>&nbsp;</td>
                        <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            
                            <tr>
                                <td height="49" align="end" valign="bottom" style=" font-size:20px; color:#f05b5b; font-weight:800; font-family: 'Muli', sans-serif;">Payment Made</td>
                            </tr>
                            <tr>
                                <td height="30" align="end" valign="bottom" style="color:#000; font-weight:800; font-family: 'Muli', sans-serif;">Payment : {{ paymt.pymntid }}</td>
                            </tr>
                            <tr>
                                <td style=" font-size:20px; color:#000; padding:5px; font-family: 'Muli', sans-serif;" ><b>{{ cmp1.cname }}</b></td>
                            </tr>
                            <tr>
                                <td style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;" >{{cmp1.email}}</td>
                            </tr>
                            <tr>
                                <td style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;">{{cmp1.caddress}}</td>
                            </tr>
                            <tr>
                                <td style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;">{{cmp1.city}},</td>
                                </tr>
                            <tr>
                                <td style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;">{{cmp1.state}}</td>
                            </tr>
                            </tbody>
                        </table></td>
                        <td>&nbsp;</td>
                        </tr>
                        <tr>
                        <td height="36" colspan="4">&nbsp;</td>
                        </tr>
                        <tr>
                        <td width="3%">&nbsp;</td>
                        <td colspan="2"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="tb1">
                            <tbody>
                            <tr>
                                <td><table style="border:1px solid #9a0d0d;" width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                    <td width="16%" height="25">
                                        <strong>
                                            <span style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;">
                                                Paid To
                                            </span>
                                        </strong>
                                    </td>
                                    <td width="49%">
                                        <span style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;">
                                            {{ paymt.vendor }}
                                        </span>
                                    </td>
                                    <td width="20%">
                                        <strong>
                                            <span style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;">
                                                Payment Date
                                            </span>
                                        </strong>
                                    </td>
                                    <td width="15%">
                                        <span style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;">
                                            {{ paymt.paymentdate |date:'d-m-Y' }}
                                        </span>
                                    </td>
                                    </tr>
                                    <tr>
                                    <td height="25">
                                        <strong>
                                            <span style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;">
                                                Payment Method
                                            </span>
                                        </strong>
                                    </td>
                                    <td>
                                        <span style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;">
                                            {{ paymt.paymentmethod }}
                                        </span>
                                    </td>
                                    <td height="25">
                                        <strong>
                                            <span style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;">
                                                Reference Number
                                            </span>
                                        </strong>
                                    </td>
                                    <td>
                                        <span style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;">
                                            {{ paymt.reference }}
                                        </span>
                                    </td>
                                    </tr>
                                    <tr>
                                    
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    </tr>
                                </tbody>
                                </table></td>
                            </tr>
                            <tr>
                                <td height="31" style="border-top:1px solid #999999;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="tb2">
                                <tbody>
                                    <tr style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;">
                                    <td width="7%" height="30" align="center"><strong>S.N</strong></td>
                                    <td width="20%" align="center"><strong>Bill Date</strong></td>
                                    <td width="20%" align="center"><strong>Bill Number</strong></td>
                                    <td width="20%" align="center"><strong>Total Amount</strong></td>
                                    <td width="20%" align="center"><strong>Balance Due</strong></td>
                                    <!-- <td width="13%" align="center"><strong>payments</strong></td> -->
                                    </tr>
                                    
                                    {% for p in py %}
                                        <tr style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;">
                                            <td height="30" align="center">{{ forloop.counter }}</td>
                                            <td align="center">{{ p.billdate }}</td>
                                            <td align="center">{{ p.billno }}</td>
                                            <td align="center">{{ p.billamount }}</td>
                                            <td align="center">{{ p.amountdue }}</td>
                                            <!-- <td align="center">{{ p.payments }}</td> -->
                                        </tr>
                                    {% endfor %} 
                                    
                                    <tr style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;">
                                        <td height="50" align="center" style="border: none;">&nbsp;</td>
                                        <td align="center" style="border: none;">&nbsp;</td>
                                        <td align="center" style="border: none;">&nbsp;</td>
                                        <td align="center" style="font-size: 20px;">&nbsp; <strong></strong></td>
                                        <td align="end" style="border: none;">&nbsp;<strong></strong></td>
                                    
                                    </tr>
                                    <tr style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;">
                                        <td height="50" align="center" style="border: none;">&nbsp;</td>
                                        <td align="center" style="border: none;">&nbsp;</td>
                                        <td align="center" style="border: none;">&nbsp;</td>
                                        <td align="center" style="border: none;">&nbsp;</td>
                                        <td align="center" style="font-size: 20px; background-color: #e24d4d;">&nbsp; <strong>Amount Paid <br> ₹ {{ paymt.paymentamount }}</strong></td>
                                        <!-- <td align="end" style="border: none;">&nbsp;<strong></strong></td> -->
                                    
                                    </tr>
                                </tbody>
                                </table></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>

                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            </tbody>
                        </table></td>
                        <td width="3%">&nbsp;</td>
                        </tr>
                        <tr>
                        <td colspan="4">&nbsp;</td>
                        </tr>
                        <tr>
                        <td height="32">&nbsp;</td>
                        <td style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;" width="47%" height="32">
                            <strong>Authorised Signature</strong>
                        </td>
                        <td style=" font-size:13px; color:#000; padding:5px; font-family: 'Muli', sans-serif;" width="47%" align="right">
                            <strong>For : Online Reciept</strong>
                        </td>
                        <td height="32">&nbsp;</td>
                        </tr>
                        <tr>
                        <td colspan="4">&nbsp;</td>
                        </tr>
                        <tr>
                        <td height="72">&nbsp;</td>
                        <td>&nbsp;</td>
                        
                        <td>&nbsp;</td>
                        </tr>
                        <tr>
                        <td colspan="4">&nbsp;</td>
                        </tr>
                    </tbody>
                    </table>
                </div><br><br>
            </div>
            <div id="editor"></div>
        </div>

        <script>
            $(function () {
                $('#cmd').click(function () {
                    var doc = new jsPDF();
                    doc.addHTML($('#content')[0], 15, 15, {
                        'background': '#fff',
                    }, function() {
                        doc.save('sample-file.pdf');
                    });
                });
            });
        </script>

        <script> 
            function printDiv() { 
                var divContents = document.getElementById("panel").innerHTML; 
                var a = window.open('', '', 'height=800, width=800'); 
                a.document.write('<html>'); 
                a.document.write('<body > <h1> <br>'); 
                a.document.write(divContents); 
                a.document.write('</body></html>'); 
                a.document.close(); 
                a.print(); 
            } 
        </script>

        <script type="text/javascript">
            $('.delete').click(function(e){
                var result = confirm("Are you sure you want to delete this record? If you delete this, not retrive");

                if(!result) {
                    e.preventDefault();
                }
            });
        </script>

    {% endif %}
    {% endblock %}