{% extends 'app1/base.html' %}
{% block body %}
    {% load static %}


    <script>
		function printDiv() {
			var divContents = document.getElementById("GFG").innerHTML;
			var a = window.open( '', 'height=1000, width=2000');
			a.document.write('<html>');
			a.document.write(divContents);
			a.document.write('</body></html>');
			a.document.close();
			a.print();
		}
	</script>

    <script>
        function thisFileUpload() {
            document.getElementById("file").click();
        };
</script>
    
    <style>
        .table-head{
            font-weight: bold;
        }
        
    </style>
    <br><br>
    {% for a in mjl %}
    <div class="page-content">
        <div class="card radius-15">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-lg-12 col-xl-12">
                        <div class="card" style="background-color: #2a4964;">
                            <div class="row no-gutters">
                                <div class="col-md-2"></div>
                                <div class="col-md-7 mt-4 mb-4">
                                    <center>
                                        <h5 class="card-title"><h3 style="text-transform:Uppercase;">JOURNAL NO.{{ a.mj_no }}</h3></h5>
                                        
                                        
                                        
                                    </center>
                                </div> 
                                
                                <div class="col-sm-2 mt-4 mb-4">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a href="{% url 'mj_edit_page' a.id %}" title="edit" class="dropdown-item"
                                       style="color: white; font-size: 25px;">
                                       <i class='bx bx-edit'></i>
                                    </a>
                                    <a href="{% url 'deletemj' a.id %}" title="delete" class="dropdown-item"
                                       style="color: white; font-size: 25px;" onclick="return confirm('Are you sure you want to delete this journal?')">
                                       <i class='bx bx-trash'></i>
                                    </a>
                                    <a  title="print/pdf" class="dropdown-item"
                                    style="color: white; font-size: 25px;" onclick="printDiv()">
                                    <i class='bx bxs-file-pdf'></i>
                                </a>
                                
                                    
                                  </div>
                                </div>
                               
                            </div>
                            <p style="margin-left:500px;"><i>Journal created by {{ user.first_name }}</i></p>
                        </div>
                    </div>
                </div>
    
                <body >
                  
                        
                        <div class="card radius-15 p-5 print-content" style="margin-bottom: 50px;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                       
                                           
                                         <div id="GFG" >
                                        <div class="rectangle"
                                             style="color:black; overflow: scroll; background-color: white;width: 100%;height:800px;border: 3px white;padding: 50px;">
                                          
                    
                                             <div class="pcs-template-body">
                                               
                                                {% if a.status == 'Publish' %}
                                                <p class="btn btn-outline-success" >PUBLISHED</p>
                                                 {% else %}
                                                <p class="btn btn-outline-dark"> DRAFT</p>
                                                 {% endif %}
                                                
                                             
                                                
                                               
                                                <div style="display:table;width:100%;">
                                                    <div  class="text-align-left pcs-journal-header-section" style="background-color:rgba(0,0,0,.5);">
                                                        <div>
                                                           
                                                        </div>
                                                        <span class="pcs-orgname"><b style="font-size:25px;">{{ cmp1.cname }}</b></span><br>
                                                        <span class="pcs-label">
                                                        <span style="white-space: pre-wrap;" id="tmp_org_address">{{ cmp1.city }},{{ cmp1.state }}</span>
                                                        </span>
                                                    </div>
                                                   
                                                </div>
                                                <table style="width:100%;margin-top:30px;table-layout:fixed;">
                                                    <tbody><tr>
                                                        <td style="width:60%;vertical-align:bottom;word-wrap: break-word;">
                                                                <div style="padding-bottom: 5px;">
                                                                    <label style="font-size: 12pt;" id="notes_label" class="pcs-label">NOTES</label>
                                                                    <br>
                                                                    <span style="color:black;" id="notes">{{ a.notes }}</span>
                                                                </div>
                                                        </td>
                                                        <td align="right" style="vertical-align:bottom;width: 40%;">
                                                            <table style="float:right;width: 100%;table-layout: fixed;word-wrap: break-word;" border="0" cellspacing="0" cellpadding="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="padding:5px 10px 5px 0px;font-size:13pt;" class="text-align-right">
                                                                            <span class="pcs-label">Journal No:</span>
                                                                        </td>
                                                                        <td class="text-align-right">
                                                                            <span >{{ a.mj_no }}</span>
                                                                        </td>
                                                                    </tr>
                                                                        <tr>
                                                                            <td style="padding:5px 10px 5px 0px;font-size:13pt;" class="text-align-right">
                                                                                <span class="pcs-label">Date:</span>
                                                                            </td>
                                                                            <td class="text-align-right">
                                                                                <span >{{ a.date }}</span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding:5px 10px 5px 0px;font-size:13pt;" class="text-align-right">
                                                                                <span class="pcs-label">Amount:</span>
                                                                            </td>
                                                                            <td class="text-align-right">
                                                                                <span >₹{{ a.total_deb }}.00</span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding:5px 10px 5px 0px;font-size: 13pt;" class="text-align-right">
                                                                                <span class="pcs-label">Reference No:</span>
                                                                            </td>
                                                                            <td class="text-align-right">
                                                                                <span id="tmp_ref_number">{{ a.ref_no }}</span>
                                                                            </td>
                                                                        </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody></table><br>
                                            
                                                <table style="width:100%;margin-top:20px;table-layout:fixed;" border="0" cellspacing="0" cellpadding="0" class="pcs-itemtable">
                                                    <thead style="background-color:rgba(0,0,0,.4)">
                                                        <tr style="height:40px;">
                                                            <td style="padding:5px 10px 5px 10px;word-wrap: break-word;" class="table-head">
                                                                 ACCOUNT
                                                            </td>
                                                            <td style="padding:5px 10px 5px 5px;word-wrap: break-word;width: 15%;" class="table-head">
                                                                CONTACT
                                                            </td>
                                                            <td align="right" style="padding:5px 10px 5px 5px;word-wrap: break-word;width: 120px;" class="table-head">
                                                                DEBITS
                                                            </td>
                                                            <td align="right" style="padding:5px 10px 5px 5px;word-wrap: break-word;width: 120px;" class="table-head">
                                                                CREDITS
                                                            </td>
                                                        </tr>
                                            
                                                    </thead>
                                                    <tbody>
                                                        {% for m in mjl1 %}
                                                            <tr style="border-bottom:1px solid #ededed" class="breakrow-inside breakrow-after">
                                            
                                                                    <td  style="padding: 10px 0px 10px 10px; font-size:16px;" class="pcs-item-row">
                                                                       {{ m.account }}
                                                                        <p style="color: grey;"> </p>
                                                                        <p style="margin-bottom: 0px;color: grey; word-wrap: break-word;"></p>
                                                                    </td>
                                            
                                                                    <td  style="padding: 10px 10px 5px 5px;word-wrap: break-word;font-size:16px;" class="pcs-item-row">
                                                                        {{ m.contact }}
                                                                    </td>
                                            
                                                                <td style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px;" class="table-head">
                                                                    ₹{{ m.debit }}.00
                                                                </td>
                                                                <td  style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px;" class="table-head">
                                                                    ₹{{ m.credit }}.00
                                                                </td>
                                                            </tr>
                                                            {% endfor %} 
                                                            <!-- <tr style="border-bottom:1px solid #ededed" class="breakrow-inside breakrow-after">
                                            
                                                                    <td valign="top" style="padding: 10px 0px 10px 10px;font-size:16px;" class="pcs-item-row">
                                                                       {{ a.account2 }}
                                                                        <p style="color: grey;"> </p>
                                                                        <p style="margin-bottom: 0px;color: grey; word-wrap: break-word;"></p>
                                                                    </td>
                                            
                                                                    <td valign="top" style="padding: 10px 10px 5px 5px;word-wrap: break-word;font-size:16px;" class="pcs-item-row">
                                                                        {{ a.contact2 }}
                                                                    </td>
                                            
                                                                <td valign="top" style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px;" class="table-head">
                                                                    ₹{{ a.debit2 }}.00
                                                                </td>
                                                                <td valign="top" style="padding: 10px 10px 10px 5px;word-wrap: break-word;font-size:18px;" class="table-head">
                                                                   ₹{{ a.credit2 }}.00
                                                                </td>
                                                            </tr> -->
                                                            <tr></tr>
                                                            <tr style="width: 100%;margin-top: 1px;"  >
                                                                <td colspan="2" class="table-head" style="font-size:13px;">Sub Total</td>
                                                                <td class="pcs-total-section-value text-align-center" >₹{{ a.s_totaldeb }}.00</td>
                                                                <td class="pcs-total-section-value text-align-right">₹{{ a.s_totalcre }}.00</td>
                                                            </tr>
                                                                <tr  style="height:40px;" class="pcs-balance">
                                                                    <td colspan="2"  style="padding:5px 10px 5px 0;font-size:16px;"><b>Total</b></td>
                                                                    <td style="font-size:16px;"><b>₹{{ a.total_deb }}.00</b></td>
                                                                    <td style="font-size:16px;"><b>₹{{ a.total_cre }}.00</b></td>
                                                                </tr>
                                                    </tbody>
                                                </table>
                                            
                                                
                                                    
                                                    
                                                </div>
                                            </div>
                    </div>
                    <br>
                    
  
                </body>
             				
                
{% endfor %}
    </body>
       
    </html>	

   
{% endblock %}