{% load static %}
<!DOCTYPE html>
<html lang="en-us" dir="ltr">
<head>
  <title>FinsYs</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  
  <link href="#" rel="icon">
  <link href="#" rel="apple-touch-icon">

    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">
    <script src="/static/admin/js/nav_sidebar.js" defer=""></script>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/login.css">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    
    <meta name="robots" content="NONE,NOARCHIVE">
</head>
<body>

<body class=" login" data-admin-utc-offset="0">

<!-- Container -->
<div id="container">

    <!-- Header -->
    
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="{% url 'password_reset' %}" >Reset password</a></h1>
        </div>   
    </div>
    
    <!-- END Header -->
    
    
    <div class="main" id="main">

      <div class="content">
        
        <!-- Content -->
        <div id="content" class="colM">
          

<div id="content-main">

 
  <div class="container p-3">
    <form method="POST" class="form-signin">{% csrf_token %}

      <div class="form-row">
        <label for="id_email" class="required">Email address:</label> 
        <input name="email"  type="email" autofocus="" autocapitalize="none" maxlength="250" id="id_email" required="true">
      </div>
      <div class="submit-row">
        <input type="submit" class="btn btn-success mt-2 p-2" value="Send reset email">  
      </div>
      <div class="form-row"><br>
        <a href="{% url 'go' %}">Login</a>
      </div>
    </form>
  </div>
  


</div>

          
<br class="clear">
</div>
<!-- END Content -->
<div id="footer"></div>
</div>
</div>
</div>
<!-- END Container -->


</body>
</html>
  
  